<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# PART- 2 `( Data Types and Duplicates)`

In [1]:
# data manipulation
import pandas as pd
import numpy as np

# data viz
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

#File Read
import json

#Regex
import re

# apply some cool styling
plt.style.use("ggplot")
from pylab import rcParams
rcParams['figure.figsize'] = (12,  6)

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

# Set it None to display all rows in the dataframe
#pd.set_option('display.max_rows', None)


import plotly 
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

In [2]:
df = pd.read_csv('scoutPART1-CleaningisDone.csv')

In [3]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013",01/2016,2.000,NaN,66.000,Used,2.000,06/2021,Yes,NaN,NaN,NaN,NaN,Audi,A1,LR-062483,2016.000,Black,Metallic,Mythosschwarz,"Cloth, Black",Sedans,5.000,5.000,0588/BDF,Automatic,"1,422",3.000,"1,220",front,Benzine,3.800,99,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...","Sicherheit:, ,Deaktivierung f√ºr Beifahrer-Airb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000",03/2017,NaN,NaN,141.000,Used,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Audi,A1,NaN,2017.000,Red,NaN,NaN,"Cloth, Grey",Sedans,3.000,4.000,0588/BCY,Automatic,"1,798",4.000,"1,255",front,Benzine,5.600,129,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",Langstreckenfahrzeug daher die hohe Kilometerl...,4.000,7.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450",02/2016,1.000,NaN,85.000,Used,1.000,NaN,NaN,NaN,NaN,NaN,NaN,Audi,A1,AM-95365,2016.000,Black,Metallic,mythosschwarz metallic,"Cloth, Black",Sedans,4.000,4.000,NaN,Automatic,"1,598",NaN,NaN,front,Benzine,3.800,99,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...","Fahrzeug-Nummer: AM-95365, ,Ehem. UPE 24.640 E...",4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000",08/2016,1.000,NaN,66.000,Used,1.000,NaN,NaN,NaN,NaN,6,NaN,Audi,A1,NaN,2016.000,Brown,Metallic,NaN,NaN,Sedans,3.000,4.000,NaN,Automatic,"1,422",3.000,"1,195",NaN,Benzine,3.800,99,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...","Audi A1: ,- 1e eigenaar ,- Perfecte staat: sch...",NaN,6.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200",05/2016,1.000,NaN,66.000,Used,1.000,NaN,Yes,NaN,NaN,NaN,NaN,Audi,A1,C1626,2016.000,Black,Metallic,Mythosschwarz Metallic,"Cloth, Black",Sedans,5.000,5.000,0588/BDF,Automatic,"1,422",3.000,NaN,front,Benzine,4.100,109,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...","Technik & Sicherheit:,Xenon plus,Klimaautomati...",NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   float64
 9   kW                             0 non-null      float64
 10  hp                             15831 non-null  float64
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   float64
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       4853 non-null   float64
 16  full_service                   0 non-null      float64
 17  non_smoking_vehicle            3460 non-null   object
 18  null                           0 non-null      float64
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  float64
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12145 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  float64
 29  nr_of_seats                    14942 non-null  float64
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  float64
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    13036 non-null  float64
 38  co_2_emission                  13483 non-null  object
 39  emission_class                 12291 non-null  object
 40  comfort_&_convenience          14999 non-null  object
 41  entertainment_&_media          14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety_&_security              14937 non-null  object
 44  description                    15252 non-null  object
 45  emission_label                 3945 non-null   float64
 46  gears                          11207 non-null  float64
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               0 non-null      float64
 51  availability                   635 non-null    float64
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(16), int64(1), object(37)
memory usage: 6.6+ MB

In [5]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [6]:
def first_look(data, col):
    print('[',col,']')
    print('-'*30)
    print('Data Type        :', data[col].dtypes)
    print('Percent_of_Nulls   : ', '%', round(data[col].isnull().sum() / data.shape[0]*100, 2))
    print('Num_of_Nulls   : ', data[col].isnull().sum())
    print('Num_of_Uniques : ', data[col].nunique())
    print('Duplicates     : ', data.duplicated(subset = None, keep = 'first').sum())
    print(data[col].value_counts(dropna = False).sort_index())

### tek tek bakmak yerine d√∂ng√ºyle bakmak daha faydalƒ± !!!!!!!!!!!!! Sonrasƒ±nda bunu kullan

In [7]:
# for col in object_col:
#     first_look(col)

## ----------------------------------------------------------------

In [8]:
first_look(df, 'url')

[ url ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  15919
Duplicates     :  0
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-2019-sh-pdc-gasoline-white-1037d13f-0851-44dd-b559-c6f6def8e6d2                     1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-gasoline-white-16e81c6c-58ce-4b86-9926-9f09302d0ef4                                 1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-gasoline-white-a48492d9-f2e5-436d-9ad4-dfb31ff19aed                                 1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-basis-2019-navi-virtual-gasoline-white-6d94186e-c19d-4aa1-a223-bc0256d51845                  1
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-basis-2019-pdc-sh-gasoline-white-047a0fe6-743e-4ae6-892e-e97bc13b1468                        1
                                                                                                                                                              ..
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-5eb03fe7-5c36-40b6-a596-ee0de57372e1                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-996ac32a-6070-40af-b6ab-74f57232e256                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-a6700fd3-efb5-44a8-a85b-90c491c9d378                         1
https://www.autoscout24.com//offers/renault-espace-zen-energy-dci-160-twin-turbo-edc-diesel-white-b9b30dfb-beb9-4157-b8b4-dbe86ba6573d                         1
https://www.autoscout24.com//offers/renault-espace-zu-spaet-geht-an-haendler-da-wird-er-dann-23-000-ko-gasoline-silver-93caa088-19e3-905e-e053-e250040a8d8d    1
Name: url, Length: 15919, dtype: int64

In [9]:
first_look(df, 'make_model')

[ make_model ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  9
Duplicates     :  0
Audi A1           2614
Audi A2              1
Audi A3           3097
Opel Astra        2526
Opel Corsa        2219
Opel Insignia     2598
Renault Clio      1839
Renault Duster      34
Renault Espace     991
Name: make_model, dtype: int64

In [10]:
first_look(df, 'short_description')

[ short_description ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.29
Num_of_Nulls   :  46
Num_of_Uniques :  10001
Duplicates     :  0
 1,6 CDTI**NAVI*Klimaaut*Tempomat*EURO6*T√úV NEU     1
 1.4 75 cv5 porte b-color                           1
 1.4 TFSI Attraction (125 CV)                       6
 1.4 Turbo S&S Excellence (125 CV)                  2
 1.6 CDTi Dynamic (110 CV)                          4
                                                   ..
van 1.5 dci 75cv S S E6                             1
van 1.5 dci 75cv S&S E6                            24
zo√© life                                            1
√ñsterr. Edition 16.CDTI                             1
NaN                                                46
Name: short_description, Length: 10002, dtype: int64

In [11]:
first_look(df, 'body_type')

[ body_type ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Num_of_Uniques :  9
Duplicates     :  0
Compact          3153
Convertible         8
Coupe              25
Off-Road           56
Other             290
Sedans           7903
Station wagon    3553
Transporter        88
Van               783
NaN                60
Name: body_type, dtype: int64

In [12]:
first_look(df, 'price')

[ price ]
------------------------------
Data Type        : int64
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  2956
Duplicates     :  0
13       1
120      1
255      1
331      1
4950     1
        ..
64332    1
64900    1
67600    1
68320    1
74600    1
Name: price, Length: 2956, dtype: int64

In [13]:
df.astype({'price': 'float'}).dtypes

url                               object
make_model                        object
short_description                 object
body_type                         object
price                            float64
vat                               object
km                                object
registration                      object
prev_owner                       float64
kW                               float64
hp                               float64
type                              object
previous_owners                  float64
next_inspection                   object
inspection_new                    object
warranty                         float64
full_service                     float64
non_smoking_vehicle               object
null                             float64
make                              object
model                             object
offer_number                      object
first_registration               float64
body_color                        object
paint_type                        object
body_color_original               object
upholstery                        object
body                              object
nr_of_doors                      float64
nr_of_seats                      float64
model_code                        object
gearing_type                      object
displacement                      object
cylinders                        float64
weight                            object
drive_chain                       object
fuel                              object
consumption                      float64
co_2_emission                     object
emission_class                    object
comfort_&_convenience             object
entertainment_&_media             object
extras                            object
safety_&_security                 object
description                       object
emission_label                   float64
gears                            float64
country_version                   object
electricity_consumption           object
last_service_date                 object
other_fuel_types                 float64
availability                     float64
last_timing_belt_service_date     object
available_from                    object
dtype: object

In [14]:
first_look(df, 'vat')

[ vat ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
Num_of_Uniques :  2
Duplicates     :  0
Price negotiable      426
VAT deductible      10980
NaN                  4513
Name: vat, dtype: int64

In [15]:
first_look(df, 'km')

[ km ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  6689
Duplicates     :  0
0         1043
1          367
1,000       46
1,001        4
1,010        1
          ...
99,999       1
990          2
991          1
995          1
999          3
Name: km, Length: 6689, dtype: int64

In [16]:
df['km'] = df['km'].str.replace(',', '')

In [17]:
df.astype({'km': 'float'}).dtypes

url                               object
make_model                        object
short_description                 object
body_type                         object
price                              int64
vat                               object
km                               float64
registration                      object
prev_owner                       float64
kW                               float64
hp                               float64
type                              object
previous_owners                  float64
next_inspection                   object
inspection_new                    object
warranty                         float64
full_service                     float64
non_smoking_vehicle               object
null                             float64
make                              object
model                             object
offer_number                      object
first_registration               float64
body_color                        object
paint_type                        object
body_color_original               object
upholstery                        object
body                              object
nr_of_doors                      float64
nr_of_seats                      float64
model_code                        object
gearing_type                      object
displacement                      object
cylinders                        float64
weight                            object
drive_chain                       object
fuel                              object
consumption                      float64
co_2_emission                     object
emission_class                    object
comfort_&_convenience             object
entertainment_&_media             object
extras                            object
safety_&_security                 object
description                       object
emission_label                   float64
gears                            float64
country_version                   object
electricity_consumption           object
last_service_date                 object
other_fuel_types                 float64
availability                     float64
last_timing_belt_service_date     object
available_from                    object
dtype: object

In [18]:
first_look(df, 'registration')

[ registration ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  48
Duplicates     :  0
-/-        1597
01/2016     376
01/2017     306
01/2018     511
01/2019     541
02/2016     472
02/2017     368
02/2018     539
02/2019     585
03/2016     536
03/2017     471
03/2018     695
03/2019     543
04/2016     532
04/2017     380
04/2018     541
04/2019     506
05/2016     459
05/2017     404
05/2018     572
05/2019     440
06/2016     452
06/2017     409
06/2018     532
06/2019     224
07/2016     176
07/2017     215
07/2018     396
07/2019       6
08/2016      94
08/2017     114
08/2018     285
08/2019       1
09/2016     141
09/2017     149
09/2018     141
09/2019       5
10/2016     160
10/2017     154
10/2018      97
11/2016     142
11/2017     180
11/2018     110
11/2019       1
12/2016     134
12/2017     123
12/2018     103
12/2019       1
Name: registration, dtype: int64

In [19]:
df['registration'] = df['registration'].replace(to_replace='-/-', value=np.nan)

In [20]:
df['registration']= pd.to_datetime(df['registration'])
df['registration'].head()

0   2016-01-01
1   2017-03-01
2   2016-02-01
3   2016-08-01
4   2016-05-01
Name: registration, dtype: datetime64[ns]

In [21]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013,2016-01-01,2.000,NaN,66.000,Used,2.000,06/2021,Yes,NaN,NaN,NaN,NaN,Audi,A1,LR-062483,2016.000,Black,Metallic,Mythosschwarz,"Cloth, Black",Sedans,5.000,5.000,0588/BDF,Automatic,"1,422",3.000,"1,220",front,Benzine,3.800,99,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...","Sicherheit:, ,Deaktivierung f√ºr Beifahrer-Airb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df['today'] = '2020-01-01'
df['today'] = pd.to_datetime(df['today'])
df['today'].head(1)

0   2020-01-01
Name: today, dtype: datetime64[ns]

In [23]:
df['registration']= df['today'] - df['registration']
df['registration']

0       1461 days
1       1036 days
2       1430 days
3       1248 days
4       1340 days
           ...
15914         NaT
15915    365 days
15916    306 days
15917    214 days
15918    365 days
Name: registration, Length: 15919, dtype: timedelta64[ns]

In [24]:
to_drop = ['today']
df.drop(to_drop, inplace = True, axis = 1)

In [25]:
first_look(df, 'kW')

[ kW ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
Num_of_Uniques :  0
Duplicates     :  0
NaN    15919
Name: kW, dtype: int64

In [26]:
first_look(df,'prev_owner')

[ prev_owner ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
Num_of_Uniques :  4
Duplicates     :  0
1.000    8294
2.000     778
3.000      17
4.000       2
NaN      6828
Name: prev_owner, dtype: int64

In [27]:
first_look(df, 'hp')

[ hp ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
Num_of_Uniques :  80
Duplicates     :  0
1.000      20
4.000       1
9.000       1
40.000      2
44.000      1
           ..
228.000     2
239.000     1
270.000     2
294.000    18
NaN        88
Name: hp, Length: 81, dtype: int64

In [28]:
first_look(df, 'type')

[ type ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
Num_of_Uniques :  5
Duplicates     :  0
Demonstration       796
Employee's car     1011
New                1650
Pre-registered     1364
Used              11096
NaN                   2
Name: type, dtype: int64

In [29]:
first_look(df, 'previous_owners')

[ previous_owners ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
Num_of_Uniques :  5
Duplicates     :  0
0.000     188
1.000    8294
2.000     778
3.000      17
4.000       2
NaN      6640
Name: previous_owners, dtype: int64

In [30]:
first_look(df, 'next_inspection')

[ next_inspection ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 77.79
Num_of_Nulls   :  12384
Num_of_Uniques :  77
Duplicates     :  0
01/1921        1
01/1955        1
01/1999        1
01/2001        5
01/2018        1
           ...
12/2019       20
12/2020       50
12/2021       22
12/2022        1
NaN        12384
Name: next_inspection, Length: 78, dtype: int64

In [31]:
df['next_inspection']= pd.to_datetime(df['next_inspection'])
df['next_inspection'].head()

0   2021-06-01
1          NaT
2          NaT
3          NaT
4          NaT
Name: next_inspection, dtype: datetime64[ns]

In [32]:
first_look(df, 'inspection_new')

[ inspection_new ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 75.3
Num_of_Nulls   :  11987
Num_of_Uniques :  1
Duplicates     :  0
Yes     3932
NaN    11987
Name: inspection_new, dtype: int64

In [33]:
df['inspection_new'] = df['inspection_new'].str.replace('Yes', 'True')
df['inspection_new'].head()

0    True
1     NaN
2     NaN
3     NaN
4    True
Name: inspection_new, dtype: object

In [34]:
df.astype({'inspection_new': 'bool'}).dtypes

url                                       object
make_model                                object
short_description                         object
body_type                                 object
price                                      int64
vat                                       object
km                                        object
registration                     timedelta64[ns]
prev_owner                               float64
kW                                       float64
hp                                       float64
type                                      object
previous_owners                          float64
next_inspection                   datetime64[ns]
inspection_new                              bool
warranty                                 float64
full_service                             float64
non_smoking_vehicle                       object
null                                     float64
make                                      object
model                                     object
offer_number                              object
first_registration                       float64
body_color                                object
paint_type                                object
body_color_original                       object
upholstery                                object
body                                      object
nr_of_doors                              float64
nr_of_seats                              float64
model_code                                object
gearing_type                              object
displacement                              object
cylinders                                float64
weight                                    object
drive_chain                               object
fuel                                      object
consumption                              float64
co_2_emission                             object
emission_class                            object
comfort_&_convenience                     object
entertainment_&_media                     object
extras                                    object
safety_&_security                         object
description                               object
emission_label                           float64
gears                                    float64
country_version                           object
electricity_consumption                   object
last_service_date                         object
other_fuel_types                         float64
availability                             float64
last_timing_belt_service_date             object
available_from                            object
dtype: object

In [35]:
first_look(df, 'warranty')

[ warranty ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 69.51
Num_of_Nulls   :  11066
Num_of_Uniques :  41
Duplicates     :  0
1.000         3
2.000         5
3.000        33
4.000         3
6.000       125
7.000         1
8.000         1
9.000         2
10.000        1
11.000        2
12.000     2594
13.000        3
14.000        2
15.000        1
16.000        4
17.000        2
18.000       10
19.000        3
20.000        7
21.000        2
22.000        2
23.000       11
24.000     1118
25.000        6
26.000        4
28.000        2
30.000        1
33.000        1
34.000        3
36.000      279
40.000        1
45.000        2
46.000        2
47.000        1
48.000      149
49.000        1
50.000        4
56.000        1
60.000      401
65.000        1
72.000       59
NaN       11066
Name: warranty, dtype: int64

In [36]:
first_look(df, 'full_service')

[ full_service ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
Num_of_Uniques :  0
Duplicates     :  0
NaN    15919
Name: full_service, dtype: int64

In [37]:
first_look(df, 'non_smoking_vehicle')

[ non_smoking_vehicle ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 78.26
Num_of_Nulls   :  12459
Num_of_Uniques :  88
Duplicates     :  0
1         24
1.6        1
100       18
101        1
102       11
       ...
95         3
97        20
98        15
99        23
NaN    12459
Name: non_smoking_vehicle, Length: 89, dtype: int64

In [38]:
first_look(df, 'null')

[ null ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
Num_of_Uniques :  0
Duplicates     :  0
NaN    15919
Name: null, dtype: int64

In [39]:
first_look(df, 'make')

[ make ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  3
Duplicates     :  0
Audi       5712
Opel       7343
Renault    2864
Name: make, dtype: int64

In [40]:
to_drop = ['make']
df.drop(to_drop, inplace = True, axis = 1)

In [41]:
first_look(df, 'model')

[ model ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  9
Duplicates     :  0
A1          2614
A2             1
A3          3097
Astra       2526
Clio        1839
Corsa       2219
Duster        34
Espace       991
Insignia    2598
Name: model, dtype: int64

In [42]:
to_drop = ['model']
df.drop(to_drop, inplace = True, axis = 1)

In [43]:
first_look(df, 'offer_number')

[ offer_number ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 19.94
Num_of_Nulls   :  3175
Num_of_Uniques :  11440
Duplicates     :  0
# 250678          1
# 8H6050830       1
# G1024529        1
# G6050580        1
#8023778          2
               ...
x_45689v          2
y8fx64x           1
zr11914           1
zr11916           1
NaN            3175
Name: offer_number, Length: 11441, dtype: int64

In [44]:
first_look(df, 'first_registration')

[ first_registration ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
Num_of_Uniques :  4
Duplicates     :  0
2016.000    3674
2017.000    3273
2018.000    4522
2019.000    2853
NaN         1597
Name: first_registration, dtype: int64

In [45]:

# df['first_registration']= pd.to_datetime(df['first_registration'])
df['first_registration'].head()

0   2016.000
1   2017.000
2   2016.000
3   2016.000
4   2016.000
Name: first_registration, dtype: float64

In [46]:
df['age'] = 2020 - df['first_registration']
df['age']

0       4.000
1       3.000
2       4.000
3       4.000
4       4.000
         ...
15914     NaN
15915   1.000
15916   1.000
15917   1.000
15918   1.000
Name: age, Length: 15919, dtype: float64

In [47]:
df['type_New'] =  df['type'].apply(lambda x: 'New' if x == 'New' else np.nan)
df['type_New'].value_counts()

New    1650
Name: type_New, dtype: int64

In [48]:
df['age'].isnull().sum()

1597

In [49]:
df['age']

0       4.000
1       3.000
2       4.000
3       4.000
4       4.000
         ...
15914     NaN
15915   1.000
15916   1.000
15917   1.000
15918   1.000
Name: age, Length: 15919, dtype: float64

In [50]:
df['age'] = df['age'].fillna(value= df['type_New'])
df['age']

0       4.000
1       3.000
2       4.000
3       4.000
4       4.000
         ...
15914     New
15915   1.000
15916   1.000
15917   1.000
15918   1.000
Name: age, Length: 15919, dtype: object

In [51]:
df['age'] = df['age'].replace('New', 0)

In [52]:
df['age'].isnull().sum()

50

In [53]:
to_drop = ['type_New']
df.drop(to_drop, inplace = True, axis = 1)

In [54]:
first_look(df, 'body_color')

[ body_color ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Num_of_Uniques :  14
Duplicates     :  0
Beige      108
Black     3745
Blue      1431
Bronze       6
Brown      289
Gold         2
Green      154
Grey      3505
Orange       3
Red        957
Silver    1647
Violet      18
White     3406
Yellow      51
NaN        597
Name: body_color, dtype: int64

In [55]:
first_look(df, 'paint_type')

[ paint_type ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Num_of_Uniques :  3
Duplicates     :  0
Metallic       9794
Perl effect       6
Uni/basic       347
NaN            5772
Name: paint_type, dtype: int64

In [56]:
first_look(df, 'body_color_original')

[ body_color_original ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
Num_of_Uniques :  1926
Duplicates     :  0
"PLATIN"                          1
"satinsilber "                    1
(0C0C) Monsungrau Metallic        1
(B4B4) Cortinaweiss               1
(NNP)                             1
                               ...
w√§hlbar - ggf. mit Aufpreis     118
w√§hlbar -ggfl. mit Aufpreis       1
w√§hlbar, ggf gegen Aufpreis       2
zwart                             2
NaN                            3774
Name: body_color_original, Length: 1927, dtype: int64

In [57]:
first_look(df, 'upholstery')

[ upholstery ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Num_of_Uniques :  46
Duplicates     :  0
Beige                     3
Black                   491
Blue                      2
Brown                    12
Cloth                  1005
Cloth, Beige             13
Cloth, Black           5821
Cloth, Blue              12
Cloth, Brown             28
Cloth, Grey             891
Cloth, Orange             1
Cloth, Other            639
Cloth, Red                5
Cloth, White              8
Full leather            139
Full leather, Beige      36
Full leather, Black     575
Full leather, Blue        2
Full leather, Brown     116
Full leather, Grey       67
Full leather, Other      72
Full leather, Red         1
Full leather, White       1
Grey                    273
Other                    56
Other, Black            110
Other, Brown              1
Other, Grey              15
Other, Other            182
Other, Yellow             4
Part leather            140
Part leather, Beige       2
Part leather, Black    1121
Part leather, Brown      50
Part leather, Grey      116
Part leather, Other      65
Part leather, Red         3
Part leather, White       2
Velour                   16
Velour, Black            36
Velour, Grey              8
White                     2
alcantara                 2
alcantara, Black         47
alcantara, Grey           6
alcantara, Other          2
NaN                    3720
Name: upholstery, dtype: int64

In [58]:
first_look(df, 'body')

[ body ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Num_of_Uniques :  9
Duplicates     :  0
Compact          3153
Convertible         8
Coupe              25
Off-Road           56
Other             290
Sedans           7903
Station wagon    3553
Transporter        88
Van               783
NaN                60
Name: body, dtype: int64

In [59]:
first_look(df, 'nr_of_doors')

[ nr_of_doors ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
Num_of_Uniques :  6
Duplicates     :  0
1.000        1
2.000      219
3.000      832
4.000     3079
5.000    11575
7.000        1
NaN        212
Name: nr_of_doors, dtype: int64

In [60]:
first_look(df, 'nr_of_seats')

[ nr_of_seats ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
Num_of_Uniques :  6
Duplicates     :  0
2.000      116
3.000        1
4.000     1125
5.000    13336
6.000        2
7.000      362
NaN        977
Name: nr_of_seats, dtype: int64

In [61]:
first_look(df, 'model_code')

[ model_code ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 68.73
Num_of_Nulls   :  10941
Num_of_Uniques :  232
Duplicates     :  0
0000/000       21
0000/035        1
0000/ACP        1
0035/AAA        1
0035/AAD        1
            ...
3333/BJR       79
3333/BKG        1
3333/BKQ       18
3333/BKR        8
NaN         10941
Name: model_code, Length: 233, dtype: int64

In [62]:
first_look(df, 'gearing_type')

[ gearing_type ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  3
Duplicates     :  0
Automatic         7297
Manual            8153
Semi-automatic     469
Name: gearing_type, dtype: int64

In [63]:
first_look(df, 'displacement')

[ displacement ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
Num_of_Uniques :  77
Duplicates     :  0
1          36
1,000      40
1,100       1
1,149     288
1,195       1
         ...
996         1
997         4
998        72
999      2438
NaN       496
Name: displacement, Length: 78, dtype: int64

In [64]:
df['displacement'] = df['displacement'].str.replace(',', '')
df['displacement'].head()

0    1422
1    1798
2    1598
3    1422
4    1422
Name: displacement, dtype: object

In [65]:
first_look(df, 'cylinders')

[ cylinders ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
Num_of_Uniques :  7
Duplicates     :  0
1.000       1
2.000       2
3.000    2104
4.000    8105
5.000      22
6.000       3
8.000       2
NaN      5680
Name: cylinders, dtype: int64

In [66]:
first_look(df, 'weight')

[ weight ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
Num_of_Uniques :  434
Duplicates     :  0
1           2
1,009       1
1,010       3
1,017       1
1,030       1
         ...
840         1
900         1
977         2
980        11
NaN      6974
Name: weight, Length: 435, dtype: int64

In [67]:
df['weight'] = df['weight'].str.replace(',', '')
df['weight'].head()

0    1220
1    1255
2     NaN
3    1195
4     NaN
Name: weight, dtype: object

In [68]:
first_look(df, 'drive_chain')

[ drive_chain ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
Num_of_Uniques :  3
Duplicates     :  0
4WD       171
front    8886
rear        4
NaN      6858
Name: drive_chain, dtype: int64

In [69]:
first_look(df, 'fuel')

[ fuel ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Num_of_Uniques :  4
Duplicates     :  0
Benzine     12866
Diesel       2984
Electric        5
LPG/CNG        64
Name: fuel, dtype: int64

In [70]:
first_look(df, 'consumption')

[ consumption ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 18.11
Num_of_Nulls   :  2883
Num_of_Uniques :  71
Duplicates     :  0
0.000        2
1.000        1
1.200        1
3.000       69
3.100        7
          ...
50.000       1
51.000       4
54.000       1
55.000       1
NaN       2883
Name: consumption, Length: 72, dtype: int64

In [71]:
first_look(df, 'co_2_emission')

[ co_2_emission ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 15.3
Num_of_Nulls   :  2436
Num_of_Uniques :  122
Duplicates     :  0
0           2
1           1
1,060       1
100        36
101       105
         ...
97        537
98        151
99        545
990         1
NaN      2436
Name: co_2_emission, Length: 123, dtype: int64

In [72]:
first_look(df, 'emission_class')

[ emission_class ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 22.79
Num_of_Nulls   :  3628
Num_of_Uniques :  6
Duplicates     :  0
Euro 4             40
Euro 5             78
Euro 6          10139
Euro 6c           127
Euro 6d            62
Euro 6d-TEMP     1845
NaN              3628
Name: emission_class, dtype: int64

In [73]:
first_look(df, 'comfort_&_convenience')

[ comfort_&_convenience ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
Num_of_Uniques :  6198
Duplicates     :  0
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   79
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows,Wind deflector                                                                                                                                                                                                                                   1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Heated steering wheel,Hill Holder,Leather seats,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Panorama roof,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Sunroof,Tinted windows                                                               1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrical side mirrors,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system self-steering,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electrically adjustable seats,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Massage seats,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Sunroof,Tinted windows      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Power windows,Seat ventilation,Split rear seats                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    11
Power windows,Start-stop system                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     4
Rain sensor                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Sunroof                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             8
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               920
Name: comfort_&_convenience, Length: 6199, dtype: int64

In [74]:
first_look(df, 'entertainment_&_media')

[ entertainment_&_media ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
Num_of_Uniques :  346
Duplicates     :  0
Bluetooth                                                                                           125
Bluetooth,CD player                                                                                  14
Bluetooth,CD player,Digital radio,Hands-free equipment                                                1
Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Radio                   25
Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Radio,Sound system      20
                                                                                                   ...
Radio,USB                                                                                            29
Sound system                                                                                         15
Sound system,USB                                                                                     12
USB                                                                                                  46
NaN                                                                                                1374
Name: entertainment_&_media, Length: 347, dtype: int64

In [75]:
first_look(df, 'extras')

[ extras ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
Num_of_Uniques :  659
Duplicates     :  0
Alloy wheels                                                                                            3245
Alloy wheels,Cab or rented Car                                                                            32
Alloy wheels,Cab or rented Car,Catalytic Converter                                                        15
Alloy wheels,Cab or rented Car,Catalytic Converter,Roof rack                                               1
Alloy wheels,Cab or rented Car,Catalytic Converter,Roof rack,Shift paddles,Sport seats,Voice Control       1
                                                                                                        ...
Tuned car,Voice Control                                                                                    1
Voice Control                                                                                             85
Voice Control,Winter tyres                                                                                 1
Winter tyres                                                                                              12
NaN                                                                                                     2962
Name: extras, Length: 660, dtype: int64

In [76]:
first_look(df, 'safety_&_security')

[ safety_&_security ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
Num_of_Uniques :  4443
Duplicates     :  0
ABS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        4
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition                                                    1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights                                                                             1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock with remote control,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
Power steering                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             6
Side airbag                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                                                                                                                                                           12
Xenon headlights                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      982
Name: safety_&_security, Length: 4444, dtype: int64

In [77]:
first_look(df, 'description')

[ description ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 4.19
Num_of_Nulls   :  667
Num_of_Uniques :  12868
Duplicates     :  0
 * 4CONTROL-Schriftzug an der B-S√§ule, * ABS und Bremsassistent, * Airbag Fahrer- und Bei.seite""Full-Size"", * Airbag: 2 Seitenairbags vorne, * Airbag: Anti Submarining Airbags v/h, * Airbag: Windowbags f√ºr Sitzreihen 1 + 2, * Antriebsschlupfregelung (ASR), * Armaturenbrett in Dark Brown, * Armaturenbrett in Moon Grey, * Automatische Aktivierung der Warnblink., * Au√üenspiegel el. anklapp/einstell/beheiz, * Au√üenspiegel in Klavierlack-Schwarz, * Bremsleuchte dritte, * Chromeinfassungen an den Fenstern, * Dach: Panorama-Glas-Schiebedach, * Drehzahlmesser, * Dynamische Allradlenkung ''4 CONTROL'', * ESP mit Extended Grip. u.Berganfahrhilfe, * Easy Park-Assistent Teilautomatisches Einparken, * Easy-Life-Schubfach mit 11,5 l Fassungsv, * Einparkhilfe vorn und hinten, * Elektrische Heckklappe mit Fu√üsensor, * Fahrwerk: Adaptives Fahrwerk, * Felgen: LM-Felgen 19"" Initiale Paris, * Fensterheber elektrisch (4), * Getriebe: 6 Gang-Doppelkupplungsgetriebe, * Head-up-Display, * Heckklappe mit ""Espce""-Schriftzug, * Heckscheibenheizung, * Heckscheibenwischer, * ISOFIX/i-Size-Kindersitzbefestigung, * Innenr√ºckspiegel automatisch abblendend, * Keycard Handsfree:, * Klimaautomatik 3-Zonen, * K√ºhlergrill mit Chromdekor und INITIALE-, * LED-Tagfahrlicht, * Lackierung: Metallic, * Licht- und Regensensor, * Make-Up Spiegel vorne, * Mittelkonsole in Dekor Silver Wood, * Multi-Sense: Individuelle Einstellung, * Multimediasystem im Fond - Zwei 7-Zoll-Displays integriert in die Kopfst√ºtzen der 1. Sitzreihe - Inklusive zwei Bluetooth-Kopfh√∂rern und Fernbedienung - DVD-Laufwerk sowie USB-, SD- und AV IN-Eingang, * Nappalederlenkrad, l√§ngs- und h√∂henverst, * Nappalederpolsterung Initiale Paris, * Navigationssystem mit Kartenmaterial f√ºr, * Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, * Paket: SAFETY PLUS, * Paket: VISIO PLUS, * Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, * Panorama-Windschutzscheibe, * Parkbremse elektronisch, * Radiozubeh√∂r: Bose-Soundsystem,12 Lautsp, * Radiozubeh√∂r: Digitalempfang (DAB), * Reifen: Reifen-Reparatur-Kit, * Reifendruckkontrollsystem, * Relax-Kopfst√ºtzen in der 1. und 2. Sitzr, * Renault R-LINK 2, * Russpartikelfilter (FAP), * R√ºckfahrkamera, * Schalthebelknauf in Leder, * Seitenscheiben h. u. Heckscheibe dun.get, * Servolenkung, geschwindigkeitsabh√§ngig, * Sicherheitstrennetz im Kofferraum, * Sitze: 2 Einzelsitze in der 3. Sitzreihe, * Sitze: 3 Einzelsitze hinten, * Sitze: Beheizbare Vordersitze, * Sitze: Modulares One-Touch-Folding, * Sonnenjalousien f√ºr Seitenfenster hinten, * Steckdose 12-Volt, 1.,2.,3. Reihe, * Tempopilot, * Toter-Winkel-Warner [Spurwechselassistent, Totwinkel-Assistent], * Voll-LED-Scheinwerfer LED PURE VISION, * Vordersitze el. einstellbar (10-fach), * Wegfahrsperre, * Zentralverriegelung, * Zwei USB-Ladebuchsen und AUX-Anschluss, , , , , , Unverbindliches Angebot f√ºr Gewerbekunden, inkl. Bereitstellungskosten. √Ñnderungen, Irrt√ºmer und Zwischenverkauf vorbehalten., , Ihre Dresdener Auto AG: Wir halten Sie mobil!,      1
 * 4CONTROL-Schriftzug an der B-S√§ule, * ABS und Bremsassistent, * Airbag Fahrer- und Bei.seite""Full-Size"", * Airbag: 2 Seitenairbags vorne, * Airbag: Anti Submarining Airbags v/h, * Airbag: Windowbags f√ºr Sitzreihen 1 + 2, * Antriebsschlupfregelung (ASR), * Armaturenbrett in Dark Brown, * Automatische Aktivierung der Warnblink., * Au√üenspiegel el. anklapp/einstell/beheiz, * Au√üenspiegel in Klavierlack-Schwarz, * Bremsleuchte dritte, * Chromeinfassungen an den Fenstern, * Dach: Panorama-Glas-Schiebedach, * Drehzahlmesser, * Dynamische Allradlenkung ''4 CONTROL'', * ESP mit Extended Grip. u.Berganfahrhilfe, * Easy Park-Assistent Teilautomatisches Einparken, * Easy-Life-Schubfach mit 11,5 l Fassungsv, * Einparkhilfe vorn und hinten, * Elektrische Heckklappe mit Fu√üsensor, * Fahrwerk: Adaptives Fahrwerk, * Felgen: LM-Felgen 19"" Initiale Paris, * Fensterheber elektrisch (4), * Getriebe: 6 Gang-Doppelkupplungsgetriebe, * Head-up-Display, * Heckklappe mit ""Espce""-Schriftzug, * Heckscheibenheizung, * Heckscheibenwischer, * ISOFIX/i-Size-Kindersitzbefestigung, * Innenr√ºckspiegel automatisch abblendend, * Keycard Handsfree:, * Klimaautomatik 3-Zonen, * K√ºhlergrill mit Chromdekor und INITIALE-, * LED-Tagfahrlicht, * Lackierung: Standard, * Licht- und Regensensor, * Make-Up Spiegel vorne, * Mittelkonsole in Dekor Silver Wood, * Multi-Sense: Individuelle Einstellung, * Nappalederlenkrad, l√§ngs- und h√∂henverst, * Nappalederpolsterung Initiale Paris, * Navigationssystem mit Kartenmaterial f√ºr, * Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, * Paket: SAFETY PLUS, * Paket: VISIO PLUS, * Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, * Panorama-Windschutzscheibe, * Parkbremse elektronisch, * Radiozubeh√∂r: Bose-Soundsystem,12 Lautsp, * Radiozubeh√∂r: Digitalempfang (DAB), * Reifen: Reifen-Reparatur-Kit, * Reifendruckkontrollsystem, * Relax-Kopfst√ºtzen in der 1. und 2. Sitzr, * Renault R-LINK 2, * Russpartikelfilter (FAP), * R√ºckfahrkamera, * Schalthebelknauf in Leder, * Seitenscheiben h. u. Heckscheibe dun.get, * Servolenkung, geschwindigkeitsabh√§ngig, * Sitze: 2 Einzelsitze in der 3. Sitzreihe, * Sitze: 3 Einzelsitze hinten, * Sitze: Beheizbare Vordersitze, * Sitze: Modulares One-Touch-Folding, * Sonnenjalousien f√ºr Seitenfenster hinten, * Steckdose 12-Volt, 1.,2.,3. Reihe, * Tempopilot, * Toter-Winkel-Warner, * Voll-LED-Scheinwerfer LED PURE VISION, * Vordersitze el. einstellbar (10-fach), * Wegfahrsperre, * Zentralverriegelung, * Zwei USB-Ladebuchsen und AUX-Anschluss, , ,                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
 * 4CONTROL-Schriftzug an der B-S√§ule, * ABS und Bremsassistent, * Airbag Fahrer- und Bei.seite""Full-Size"", * Airbag: 2 Seitenairbags vorne, * Airbag: Anti Submarining Airbags v/h, * Airbag: Windowbags f√ºr Sitzreihen 1 + 2, * Antriebsschlupfregelung (ASR), * Armaturenbrett in Dark Brown, * Automatische Aktivierung der Warnblink., * Au√üenspiegel el. anklapp/einstell/beheiz, * Au√üenspiegel in Klavierlack-Schwarz, * Bremsleuchte dritte, * Chromeinfassungen an den Fenstern, * Dach: Panorama-Glas-Schiebedach, * Drehzahlmesser, * Dynamische Allradlenkung ''4 CONTROL'', * ESP mit Extended Grip. u.Berganfahrhilfe, * Easy Park-Assistent Teilautomatisches Einparken, * Easy-Life-Schubfach mit 11,5 l Fassungsv, * Einparkhilfe vorn und hinten, * Elektrische Heckklappe mit Fu√üsensor, * Fahrwerk: Adaptives Fahrwerk, * Felgen: LM-Felgen 19"" Initiale Paris, * Fensterheber elektrisch (4), * Getriebe: 7 Gang-Doppelkupplungsgetriebe, * Head-up-Display, * Heckklappe mit ""Espce""-Schriftzug, * Heckscheibenheizung, * Heckscheibenwischer, * ISOFIX/i-Size-Kindersitzbefestigung, * Innenr√ºckspiegel automatisch abblendend, * Keycard Handsfree:, * Klimaautomatik 3-Zonen, * K√ºhlergrill mit Chromdekor und INITIALE-, * LED-Tagfahrlicht, * Lackierung: Metallic, * Licht- und Regensensor, * Make-Up Spiegel vorne, * Mittelkonsole in Dekor Initiale Paris, * Mittelkonsole in Dekor Silver Wood, * Multi-Sense: Individuelle Einstellung, * Nappalederlenkrad, l√§ngs- und h√∂henverst, * Nappalederpolsterung Initiale Paris, * Navigationssystem mit Kartenmaterial f√ºr, * Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, * Paket: SAFETY PLUS, * Paket: VISIO PLUS, * Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, * Panorama-Windschutzscheibe, * Parkbremse elektronisch, * Radiozubeh√∂r: Bose-Soundsystem,12 Lautsp, * Radiozubeh√∂r: Digitalempfang (DAB), * Reifen: Reifen-Reparatur-Kit, * Reifendruckkontrollsystem, * Relax-Kopfst√ºtzen in der 1. und 2. Sitzr, * Renault R-LINK 2, * Russpartikelfilter (GPF), * R√ºckfahrkamera, * Schalthebelknauf in Leder, * Seitenscheiben h. u. Heckscheibe dun.get, * Servolenkung, geschwindigkeitsabh√§ngig, * Sitze: 3 Einzelsitze hinten, * Sitze: Beheizbare Vordersitze, * Sitze: Modulares One-Touch-Folding, * Sonnenjalousien f√ºr Seitenfenster hinten, * Steckdose 12-Volt, 1.,2.,3. Reihe, * Tempopilot, * Toter-Winkel-Warner [Spurwechselassistent, Totwinkel-Assistent], * Voll-LED-Scheinwerfer LED PURE VISION, * Vordersitze el. einstellbar (10-fach), * Wegfahrsperre, * Zentralverriegelung, * Zwei USB-Ladebuchsen und AUX-Anschluss, , , , , Unverbindliches Angebot f√ºr Gewerbetreibende und f√ºr Mitglieder der Polizeisozialwerk Sachsen/Th√ºringen GmbH., , ,43990‚Ç¨ f√ºr Privat , , ,Noch kein Mitglied? Sprechen Sie uns an, wir beraten Sie gern., ,                                                                                                                                                                                                                                                               1
 * 4CONTROL-Schriftzug an der B-S√§ule, * ABS und Bremsassistent, * Airbag Fahrer- und Bei.seite""Full-Size"", * Airbag: 2 Seitenairbags vorne, * Airbag: Anti Submarining Airbags v/h, * Airbag: Windowbags f√ºr Sitzreihen 1 + 2, * Antriebsschlupfregelung (ASR), * Armaturenbrett in Dark Brown, * Automatische Aktivierung der Warnblink., * Au√üenspiegel el. anklapp/einstell/beheiz, * Au√üenspiegel in Klavierlack-Schwarz, * Bremsleuchte dritte, * Chromeinfassungen an den Fenstern, * Dach: Panorama-Glas-Schiebedach, * Drehzahlmesser, * Dynamische Allradlenkung ''4 CONTROL'', * ESP mit Extended Grip. u.Berganfahrhilfe, * Easy-Life-Schubfach mit 11,5 l Fassungsv, * Einparkhilfe vorn und hinten, * Elektrische Heckklappe mit Fu√üsensor, * Fahrwerk: Adaptives Fahrwerk, * Felgen: LM-Felgen 19"" Initiale Paris, * Fensterheber elektrisch (4), * Getriebe: 6 Gang-Doppelkupplungsgetriebe, * Head-up-Display, * Heckklappe mit ""Espce""-Schriftzug, * Heckscheibenheizung, * Heckscheibenwischer, * ISOFIX/i-Size-Kindersitzbefestigung, * Innenr√ºckspiegel automatisch abblendend, * Keycard Handsfree:, * Klimaautomatik 3-Zonen, * K√ºhlergrill mit Chromdekor und INITIALE-, * LED-Tagfahrlicht, * Lackierung: Metallic, * Licht- und Regensensor, * Make-Up Spiegel vorne, * Mittelkonsole in Dekor Silver Wood, * Multi-Sense: Individuelle Einstellung, * Nappalederlenkrad, l√§ngs- und h√∂henverst, * Nappalederpolsterung Initiale Paris, * Navigationssystem mit Kartenmaterial f√ºr, * Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, * Paket: ELYS√âE - DVD-System mit zwei Bildschirmen in den Kopfst√ºtzen der 1. Sitzreihe - Metallic-Lackierung - Panorama-Glas-Schiebedach - Zwei Einzelsitze in der 3. Sitzreihe - Notrad, * Paket: SAFETY PLUS, * Paket: VISIO PLUS, * Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, * Panorama-Windschutzscheibe, * Parkbremse elektronisch, * Radiozubeh√∂r: Bose-Soundsystem,12 Lautsp, * Radiozubeh√∂r: Digitalempfang (DAB), * Reifen: Notrad, * Reifen: Reifen-Reparatur-Kit, * Reifendruckkontrollsystem, * Relax-Kopfst√ºtzen in der 1. und 2. Sitzr, * Renault R-LINK 2, * Russpartikelfilter (FAP), * R√ºckfahrkamera, * Schalthebelknauf in Leder, * Seitenscheiben h. u. Heckscheibe dun.get, * Servolenkung, geschwindigkeitsabh√§ngig, * Sitze: 2 Einzelsitze in der 3. Sitzreihe, * Sitze: 3 Einzelsitze hinten, * Sitze: Beheizbare Vordersitze, * Sitze: Modulares One-Touch-Folding, * Sonnenjalousien f√ºr Seitenfenster hinten, * Steckdose 12-Volt, 1.,2.,3. Reihe, , , , , , ,Gerne erstellen wir Ihnen ein individuelles Finanzierungsangebot., , , ,Probefahrt jederzeit nach Vereinbarung m√∂glich., , , ,Inklusive 2 Jahre Herstellergarantie ab Zulassungsdatum., , , ,Gerne nehmen wir Ihr aktuelles Fahrzeug als Anzahlung., , , ,Das Fahrzeug ist werkstattgepr√ºft und wird mit Auslieferungsinspektion √ºbergeben.,                                                                                                                                                                                                                   1
 * 4CONTROL-Schriftzug an der B-S√§ule, * ABS und Bremsassistent, * Airbag Fahrer- und Bei.seite""Full-Size"", * Airbag: 2 Seitenairbags vorne, * Airbag: Anti Submarining Airbags v/h, * Airbag: Windowbags f√ºr Sitzreihen 1 + 2, * Antriebsschlupfregelung (ASR), * Armaturenbrett in Dark Brown, * Automatische Aktivierung der Warnblink., * Au√üenspiegel el. anklapp/einstell/beheiz, * Au√üenspiegel in Klavierlack-Schwarz, * Bremsleuchte dritte, * Chromeinfassungen an den Fenstern, * Drehzahlmesser, * Dynamische Allradlenkung ''4 CONTROL'', * ESP mit Extended Grip. u.Berganfahrhilfe, * Easy Park-Assistent Teilautomatisches Einparken, * Easy-Life-Schubfach mit 11,5 l Fassungsv, * Einparkhilfe vorn und hinten, * Elektrische Heckklappe mit Fu√üsensor, * Fahrwerk: Adaptives Fahrwerk, * Felgen: LM-Felgen 19"" Initiale Paris, * Fensterheber elektrisch (4), * Getriebe: 7 Gang-Doppelkupplungsgetriebe, * Head-up-Display, * Heckklappe mit ""Espce""-Schriftzug, * Heckscheibenheizung, * Heckscheibenwischer, * ISOFIX/i-Size-Kindersitzbefestigung, * Innenr√ºckspiegel automatisch abblendend, * Keycard Handsfree:, * Klimaautomatik 3-Zonen, * K√ºhlergrill mit Chromdekor und INITIALE-, * LED-Tagfahrlicht, * Lackierung: Metallic-Sonderlackierung, * Licht- und Regensensor, * Make-Up Spiegel vorne, * Mittelkonsole in Dekor Silver Wood, * Multi-Sense: Individuelle Einstellung, * Nappalederlenkrad, l√§ngs- und h√∂henverst, * Nappalederpolsterung Initiale Paris, * Navigationssystem mit Kartenmaterial f√ºr, * Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, * Paket: SAFETY PLUS, * Paket: VISIO PLUS, * Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, * Panorama-Windschutzscheibe, * Parkbremse elektronisch, * Radiozubeh√∂r: Bose-Soundsystem,12 Lautsp, * Radiozubeh√∂r: Digitalempfang (DAB), * Reifen: Reifen-Reparatur-Kit, * Reifendruckkontrollsystem, * Relax-Kopfst√ºtzen in der 1. und 2. Sitzr, * Renault R-LINK 2, * Russpartikelfilter (GPF), * R√ºckfahrkamera, * Schalthebelknauf in Leder, * Seitenscheiben h. u. Heckscheibe dun.get, * Servolenkung, geschwindigkeitsabh√§ngig, * Sitze: 2 Einzelsitze in der 3. Sitzreihe, * Sitze: 3 Einzelsitze hinten, * Sitze: Beheizbare Vordersitze, * Sitze: Modulares One-Touch-Folding, * Sonnenjalousien f√ºr Seitenfenster hinten, * Steckdose 12-Volt, 1.,2.,3. Reihe, * Tempopilot, * Toter-Winkel-Warner, * Voll-LED-Scheinwerfer LED PURE VISION, * Vordersitze el. einstellbar (10-fach), * Wegfahrsperre, * Zentralverriegelung, , , , ,Inzahlungnahme, Probefahrt + Finanzierung (auch ohne Anzahlung) m√∂glich!, , So erreichen Sie unser Verkaufsteam telefonisch:, , Montag - Freitag: 8.30 Uhr - 18.30 Uhr / Samstag: 9 Uhr - 14 Uhr, , Irrt√ºmer und Zwischenverkauf vorbehalten., , ,Das Fahrzeug wird noch gefahren, der KM-Stand kann ggf. von der Inseratsangabe abweichen.,                                                                                                                                                                                                                                   1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...

In [78]:
first_look(df, 'emission_label')

[ emission_label ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 75.22
Num_of_Nulls   :  11974
Num_of_Uniques :  5
Duplicates     :  0
1.000      381
2.000        1
3.000        2
4.000     3553
5.000        8
NaN      11974
Name: emission_label, dtype: int64

In [79]:
first_look(df, 'gears')

[ gears ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
Num_of_Uniques :  9
Duplicates     :  0
1.000       2
2.000       1
3.000       2
4.000       2
5.000    3240
6.000    5822
7.000    1908
8.000     224
9.000       6
NaN      4712
Name: gears, dtype: int64

In [80]:
first_look(df, 'country_version')

[ country_version ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
Num_of_Uniques :  23
Duplicates     :  0
Austria            208
Belgium            314
Bulgaria             2
Croatia              4
Czech Republic      52
Denmark             33
Egypt                1
European Union     507
France              38
Germany           4502
Hungary             28
Italy             1038
Japan                8
Luxembourg           1
Netherlands        464
Poland              49
Romania              2
Serbia               1
Slovakia             4
Slovenia             1
Spain              325
Sweden               3
Switzerland          1
NaN               8333
Name: country_version, dtype: int64

In [81]:
first_look(df, 'electricity_consumption')

[ electricity_consumption ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 99.14
Num_of_Nulls   :  15782
Num_of_Uniques :  1
Duplicates     :  0
0 kWh/100 km (comb)      137
NaN                    15782
Name: electricity_consumption, dtype: int64

In [82]:
first_look(df, 'last_service_date')

[ last_service_date ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 96.44
Num_of_Nulls   :  15353
Num_of_Uniques :  37
Duplicates     :  0
01/2017        3
01/2018       20
01/2019       51
02/2017        3
02/2018        5
02/2019       55
03/2016        1
03/2018        9
03/2019       47
04/2016        2
04/2017        1
04/2018       16
04/2019       48
05/2016        1
05/2017        3
05/2018       21
05/2019       61
06/2016        2
06/2017        7
06/2018       21
06/2019       49
07/2017        2
07/2018       21
07/2019        1
08/2018       13
08/2019        1
09/2017        1
09/2018       17
09/2019        1
10/2017        3
10/2018       24
10/2019        1
11/2017        2
11/2018       17
11/2019        1
12/2017        3
12/2018       32
NaN        15353
Name: last_service_date, dtype: int64

In [83]:
first_look(df, 'other_fuel_types')

[ other_fuel_types ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
Num_of_Uniques :  0
Duplicates     :  0
NaN    15919
Name: other_fuel_types, dtype: int64

In [84]:
first_look(df, 'availability')

[ availability ]
------------------------------
Data Type        : float64
Percent_of_Nulls   :  % 96.01
Num_of_Nulls   :  15284
Num_of_Uniques :  15
Duplicates     :  0
1.000         51
2.000         16
3.000         35
4.000          2
5.000         35
6.000          1
7.000         20
14.000        24
21.000         8
42.000        10
60.000        13
90.000       196
120.000      182
150.000       18
180.000       24
NaN        15284
Name: availability, dtype: int64

In [85]:
first_look(df, 'last_timing_belt_service_date')

[ last_timing_belt_service_date ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 99.9
Num_of_Nulls   :  15903
Num_of_Uniques :  15
Duplicates     :  0
01/1900        1
01/1970        1
01/2018        1
01/2019        1
02/2018        1
02/2019        1
04/2016        2
04/2019        1
05/2018        1
05/2019        1
06/2017        1
06/2019        1
07/2018        1
09/2018        1
12/1900        1
NaN        15903
Name: last_timing_belt_service_date, dtype: int64

In [86]:
first_look(df, 'available_from')

[ available_from ]
------------------------------
Data Type        : object
Percent_of_Nulls   :  % 98.29
Num_of_Nulls   :  15647
Num_of_Uniques :  46
Duplicates     :  0
01/07/19       11
01/08/19        3
01/09/19        1
02/07/19        1
03/08/19        1
03/12/19        1
04/07/19        2
05/07/19        2
05/08/19        2
05/12/19        1
06/12/19        1
08/07/19        4
10/07/19        1
10/09/19        6
10/10/19        1
10/11/19        5
10/12/19        1
11/08/19        1
14/09/19        1
15/07/19        3
15/08/19       24
16/07/19        2
16/08/19        1
16/09/19       14
17/08/19        1
18/07/19        1
18/08/19        1
19/07/19        1
19/08/19        7
20/07/19        2
24/07/19        1
24/08/19        2
24/09/19        1
25/10/19        3
26/06/19        5
27/06/19        5
27/07/19        1
28/06/19       10
29/06/19       12
29/07/19        1
29/09/19        1
30/06/19        2
30/07/19       25
30/09/19        1
31/08/19       98
31/10/19        1
NaN         15647
Name: available_from, dtype: int64

## CLEARING DUPLICATES

In [87]:
df.duplicated().value_counts()
# df.drop_duplicates(keep = 'first', inplace = True)

False    15919
dtype: int64

## CLEARING EMPTY COLUMNS

In [88]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'offer_number',
       'first_registration', 'body_color', 'paint_type', 'body_color_original',
       'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'consumption', 'co_2_emission', 'emission_class',
       'comfort_&_convenience', 'entertainment_&_media', 'extras',
       'safety_&_security', 'description', 'emission_label', 'gears',
       'country_version', 'electricity_consumption', 'last_service_date',
       'other_fuel_types', 'availability', 'last_timing_belt_service_date',
       'available_from', 'age'],
      dtype='object')

In [89]:
to_drop = ['url', 'short_description', 'kW', 'next_inspection','full_service', 'null', 'model_code', 'electricity_consumption', 'other_fuel_types', 'last_timing_belt_service_date', 'available_from']
df.drop(to_drop, inplace = True, axis = 1)

In [90]:
df.shape # was 55

(15919, 42)

In [91]:
df.to_csv('scoutPART2-TypesandDuplicates.csv', index=False)