# Car Price Prediction EDA

# PART- 1 `( Data Cleaning )`

## Preperation & Library Calls

In [1]:
# data manipulation
import pandas as pd
import numpy as np

# data viz
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

#File Read
import json

#Regex
import re

# apply some cool styling
plt.style.use("ggplot")
from pylab import rcParams
rcParams['figure.figsize'] = (12,  6)

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set it to None to display all columns in the dataframe
#pd.set_option('display.max_columns', None)

# Set it None to display all rows in the dataframe
#pd.set_option('display.max_rows', None)


import plotly 
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

## Building the Data Frame

In [2]:
# Opening JSON file, one object per line
data = [json.loads(line) for line in open('scout_car.json', 'r')] #liste döndürüyor

In [3]:
df = pd.DataFrame.from_dict(data, orient='columns') #burada Dataframe e çeviriyoruz

## Learning the Data Frame

In [4]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,None,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,None,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,None,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,None,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,None,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(15919, 54)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      object
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: int64(1), object(53)
memory usage: 6.6+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000

## Standardising the column names

In [8]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [9]:
df.rename(columns = {'\nComfort & Convenience\n':'Comfort & Convenience', '\nEntertainment & Media\n':'Entertainment & Media', '\nExtras\n': 'Extras', '\nSafety & Security\n': 'Safety & Security', 'Nr. of Seats': 'Nr of Seats', 'Nr. of Doors': 'Nr of Doors'}, inplace = True)

In [10]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr of Doors',
       'Nr of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort & Convenience',
       'Entertainment & Media', 'Extras', 'Safety & Security', 'description',
       'Emission Label', 'Gears', 'Country version', 'Electricity consumption',
       'Last Service Date', 'Other Fuel Types', 'Availability',
       'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [11]:
#!pip install skimpy
from skimpy import clean_columns

In [12]:
df = clean_columns(df)

42 column names have been cleaned

In [13]:
df.rename(columns = {'k_w': 'kW'}, inplace = True)

In [14]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [15]:
df.sample()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
14152,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,"Cargo 1.2 16V 75 Extra Navi,Klimaaut.,PDC",Transporter,9885,VAT deductible,"1,913 km",06/2018,1 previous owner,None,...,[\nEinparkhilfe hinten mit akustischer Rückmel...,NaN,[\n5\n],[\nGermany\n],NaN,NaN,NaN,\nin 5 days from ordering\n,NaN,NaN

## Cleaning the data Column by Column

In [16]:
pd.set_option('display.max_columns', None)
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,None,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,None,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,None,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,None,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,None,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pd.set_option('display.max_columns', None)
df.tail()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,None,147 kW,"[, New, , Diesel (Particulate Filter)]",NaN,NaN,NaN,\n24 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n10988301\n],NaN,"[\n, Grey, \n]",[\nMetallic\n],[\nGrigio scuro\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,None,165 kW,"[, Used, , Super 95 / Super Plus 98 (Particula...","[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...","[\n01/2022\n, \n168 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,"[\n, \n, \n4 (Green)\n]",[],\nRenault\n,"[\n, Espace, \n]",[\n507370_3223\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nStahl-Grau Metallic\n],[\nCloth\n],"[\n, Van, \n]",[\n5\n],[\n5\n],[\n0000/000\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,708 kg\n]",[\nfront\n],"[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...",[\n168 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Adaptive Cruise Control, Blind spot moni...","[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,None,146 kW,"[, Pre-registered, , Diesel]","[\n1\n, \n139 g CO2/km (comb)\n]",NaN,"[\nYes\n, \nEuro 6d-TEMP\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nRenault\n,"[\n, Espace, \n]",[\nEspace16\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,[\narktis-weiß\n],"[\nFull leather, Black\n]","[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Adaptive Cruise Control, Blind spot moni...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,None,147 kW,"[, Pre-registered, , Diesel]",NaN,NaN,NaN,\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n2691331\n],"[\n, 2019, \n]","[\n, Grey, \n]",NaN,[\nGrigio\n],[\nPart leather\n],"[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Driver-side airbag, ...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,None,165 kW,"[, Demonstration, , Super 95]",\n1\n,NaN,"[\nYes\n, \n153 g CO2/km (comb)\n]",NaN,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\nRe_30000008029\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nTitanium-Grau Metallic\n],"[\nFull leather, Brown\n]","[\n, Van, \n]",[\n5\n],[\n5\n],[\n3333/BHJ\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,685 kg\n]",[\n4WD\n],"[\n, Super 95, \n]","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",[USB],"[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Daytime running ligh...","[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

### --------------------------------7-km

In [18]:
df["km"] = df["km"].str.replace(' km', '')
df['km'].value_counts()

10        1045
-         1024
1          367
5          170
50         148
          ...
67,469       1
43,197       1
10,027       1
35,882       1
57           1
Name: km, Length: 6690, dtype: int64

In [19]:
df['km'] = df['km'].replace(to_replace='-', value='0')
df['km'].value_counts()

10        1045
0         1043
1          367
5          170
50         148
          ...
67,469       1
43,197       1
10,027       1
35,882       1
57           1
Name: km, Length: 6689, dtype: int64

In [20]:
df['km'].isnull().sum()

0

### --------------------------------9 - prev_owner

In [21]:
df['prev_owner'].value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [22]:
df['prev_owner'] = df['prev_owner'].replace(to_replace='None', value=np.nan)

In [23]:
df["prev_owner"] = df["prev_owner"].str.replace(' ', '')
df["prev_owner"] = df["prev_owner"].str.replace('previousowners', '')
df["prev_owner"] = df["prev_owner"].str.replace('previousowner', '')
df['prev_owner'].value_counts()

1    8294
2     778
3      17
4       2
Name: prev_owner, dtype: int64

In [24]:
df['prev_owner'].isnull().sum()

6828

### --------------------------------11-hp

In [25]:
df["hp"] = df["hp"].str.replace(' kW', '')
df['hp'].value_counts()

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
84        1
195       1
44        1
239       1
9         1
Name: hp, Length: 81, dtype: int64

In [26]:
df['hp'] = df['hp'].replace(to_replace='-', value=np.nan)

In [27]:
df['hp'].isnull().sum()

88

### --------------------------------12-type

In [28]:
df["type"] = df["type"].apply(lambda x: x[1] if type(x) == list else x)
df["type"].head()

0    Used
1    Used
2    Used
3    Used
4    Used
Name: type, dtype: object

In [29]:
df['type'].value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

In [30]:
df['type'].isnull().sum()

2

### --------------------------------13 - previous_owners

In [31]:
df["previous_owners"][15915]

['\n1\n',
 '\n',
 '7.4 l/100 km (comb)',
 '\n',
 '9.2 l/100 km (city)',
 '\n',
 '6.3 l/100 km (country)',
 '\n']

In [32]:
df["previous_owners"] = df["previous_owners"].apply(lambda x: x[0] if type(x) == list else x)
df["previous_owners"].head()

0    \n2\n
1      NaN
2    \n1\n
3    \n1\n
4    \n1\n
Name: previous_owners, dtype: object

In [33]:
df["previous_owners"] = df["previous_owners"].str.replace('\\n', '')
df['previous_owners'].value_counts()

1    8294
2     778
0     188
3      17
4       2
Name: previous_owners, dtype: int64

In [34]:
df['previous_owners'].isnull().sum()

6640

### --------------------------------14 - next_inspection

In [35]:
df["next_inspection"][15915]

['\n01/2022\n', '\n168 g CO2/km (comb)\n']

In [36]:
df["next_inspection"] = df["next_inspection"].apply(lambda x: x[0] if type(x) == list else x)
df["next_inspection"].head()

0    \n06/2021\n
1            NaN
2            NaN
3            NaN
4            NaN
Name: next_inspection, dtype: object

In [37]:
df["next_inspection"] = df["next_inspection"].str.replace('\\n', '')
df['next_inspection'].value_counts()

06/2021    471
03/2021    210
05/2021    180
04/2021    171
02/2021    168
          ...
05/2014      1
04/2016      1
01/1955      1
01/2018      1
11/2022      1
Name: next_inspection, Length: 77, dtype: int64

In [38]:
df['next_inspection'].isnull().sum()

12384

### --------------------------------15- inspection_new

In [39]:
df["inspection_new"][1591]

['\nYes\n']

In [40]:
df["inspection_new"] = df["inspection_new"].apply(lambda x: x[0] if type(x) == list else x)
df["inspection_new"].head()

0    \nYes\n
1        NaN
2        NaN
3        NaN
4    \nYes\n
Name: inspection_new, dtype: object

In [41]:
df["inspection_new"] = df["inspection_new"].str.replace('\\n', '')
df['inspection_new'].value_counts()

Yes    3932
Name: inspection_new, dtype: int64

In [42]:
df['inspection_new'] = df['inspection_new'].replace(to_replace='NaN', value=np.nan)

In [43]:
df["inspection_new"].isnull().sum()

11987

In [44]:
#Bunu BOOL 'a çevir

### --------------------------------16 - warranty

In [45]:
df["warranty"] = df["warranty"].apply(lambda x: x[0] if type(x) == list else x)
df["warranty"].head()

0     \n
1    NaN
2     \n
3    NaN
4     \n
Name: warranty, dtype: object

In [46]:
df["warranty"] = df["warranty"].str.replace('\\n', '')
df['warranty'].value_counts()

             5646
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
50 months       4
26 months       4
16 months       4
4 months        3
1 months        3
19 months       3
34 months       3
13 months       3
28 months       2
22 months       2
14 months       2
11 months       2
46 months       2
21 months       2
9 months        2
17 months       2
45 months       2
33 months       1
40 months       1
65 months       1
10 months       1
15 months       1
7 months        1
8 months        1
56 months       1
49 months       1
47 months       1
30 months       1
Name: warranty, dtype: int64

In [47]:
df["warranty"] = df["warranty"].str.replace(' months', '')
df['warranty'].value_counts()

      5646
12    2594
24    1118
60     401
36     279
48     149
6      125
72      59
3       33
23      11
18      10
20       7
25       6
2        5
50       4
26       4
16       4
4        3
1        3
19       3
34       3
13       3
28       2
22       2
14       2
11       2
46       2
21       2
9        2
17       2
45       2
33       1
40       1
65       1
10       1
15       1
7        1
8        1
56       1
49       1
47       1
30       1
Name: warranty, dtype: int64

In [48]:
df['warranty'] = df['warranty'].replace(to_replace=' ', value=np.nan)

In [49]:
df['warranty'].isnull().sum()

5420

### --------------------------------17 - full_service

In [50]:
df["full_service"] = df["full_service"].apply(lambda x: x[0] if type(x) == list else x)
df["full_service"].head()

0     \n
1    NaN
2    NaN
3     \n
4     \n
Name: full_service, dtype: object

In [51]:
df["full_service"] = df["full_service"].str.replace('\\n', '')
df['full_service'].value_counts()

    8215
Name: full_service, dtype: int64

In [52]:
df['full_service'] = df['full_service'].replace(to_replace='NaN', value=np.nan)

In [53]:
df['full_service'].isnull().sum()

7704

### --------------------------------18- non_smoking_vehicle

In [54]:
df['non_smoking_vehicle'].value_counts()

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, Length: 94, dtype: int64

In [55]:
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].apply(lambda x: str(x).replace('[', '') if type(x) == list else x)
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace(']', '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace(',', '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("'", "")
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].replace('\\n', '')
df["non_smoking_vehicle"].head()

0               \n \n
1                 NaN
2                 NaN
3    \n \n \nEuro 6\n
4               \n \n
Name: non_smoking_vehicle, dtype: object

In [56]:
type(df["non_smoking_vehicle"][0])

str

In [57]:
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("comb", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("Green", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace(" ()", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("km()", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("(", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace(")", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("gCO2/", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("-", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("/", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("l100", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("7.9city", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("5.3country", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("7.3city", '')
df["non_smoking_vehicle"] = df["non_smoking_vehicle"].str.replace("4.7country", '')
df['non_smoking_vehicle']= df['non_smoking_vehicle'].str.replace("[^0123456789\.]", '')
df['non_smoking_vehicle'].value_counts()

       3717
6      1498
4      1240
120      63
85       46
       ...
5.7       1
101       1
122       1
189       1
175       1
Name: non_smoking_vehicle, Length: 89, dtype: int64

In [58]:
df['non_smoking_vehicle'] = df['non_smoking_vehicle'].replace(to_replace=' ', value=np.nan)
df['non_smoking_vehicle'] = df['non_smoking_vehicle'].replace(to_replace='NAN', value=np.nan)

In [59]:
df['non_smoking_vehicle'].isnull().sum()

8742

### --------------------------------19 - null

In [60]:
df["null"].value_counts()

[]    15919
Name: null, dtype: int64

In [61]:
df["null"] = df["null"].apply(lambda x: '0' if type(x) == list else '0')
df["null"].value_counts()

0    15919
Name: null, dtype: int64

In [62]:
df['null'] = df['null'].replace(to_replace='0', value=np.nan)

In [63]:
df['null'].isnull().sum()

15919

### --------------------------------20 - make

In [64]:
df["make"] = df["make"].str.replace('\\n', '')
df['make'].value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: make, dtype: int64

In [65]:
df['make'].isnull().sum()

0

### --------------------------------21 - model

In [66]:
df['model'].value_counts()

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [67]:
df["model"] = df["model"].apply(lambda x: x[1] if type(x) == list else x)
df["model"].head()

0    A1
1    A1
2    A1
3    A1
4    A1
Name: model, dtype: object

In [68]:
df['model'].isnull().sum()

0

### --------------------------------22 - offer_number

In [69]:
df["offer_number"] = df["offer_number"].apply(lambda x: x[0] if type(x) == list else x)
df["offer_number"].head()

0    \nLR-062483\n
1              NaN
2     \nAM-95365\n
3              NaN
4        \nC1626\n
Name: offer_number, dtype: object

In [70]:
df["offer_number"] = df["offer_number"].str.replace('\\n', '')
df['offer_number'].value_counts()

LT67679                                     27
AK13780                                     27
TP62881                                     27
TA76392                                     27
XT61649                                     27
                                            ..
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b     1
6701576                                      1
6701569                                      1
158121                                       1
Re_30000008029                               1
Name: offer_number, Length: 11440, dtype: int64

In [71]:
df['full_service'] = df['full_service'].replace(to_replace='NaN', value=np.nan)

In [72]:
df['first_registration'].isnull().sum()

1597

### --------------------------------23 -first_registration

In [73]:
df['first_registration'].value_counts()

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: first_registration, dtype: int64

In [74]:
df["first_registration"] = df["first_registration"].apply(lambda x: x[1] if type(x) == list else x)
df["first_registration"].head()

0    2016
1    2017
2    2016
3    2016
4    2016
Name: first_registration, dtype: object

In [75]:
df["first_registration"] = df["first_registration"].str.replace('\\n', '')
df['first_registration'].value_counts()

2018    4522
2016    3674
2017    3273
2019    2853
Name: first_registration, dtype: int64

In [76]:
df['first_registration'].isnull().sum()

1597

### !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 1600 tane nan var yılı belli değil arabaların

### --------------------------------24- body_color

In [77]:
df['body_color'].value_counts()

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [78]:
df["body_color"] = df["body_color"].apply(lambda x: x[1] if type(x) == list else x)
df["body_color"].head()

0    Black
1      Red
2    Black
3    Brown
4    Black
Name: body_color, dtype: object

In [79]:
df["body_color"] = df["body_color"].str.replace('\\n', '')
df['body_color'].value_counts()

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [80]:
df['body_color'].isnull().sum()

597

### --------------------------------25- paint_type

In [81]:
df["paint_type"] = df["paint_type"].apply(lambda x: x[0] if type(x) == list else x)
df["paint_type"].head()

0    \nMetallic\n
1             NaN
2    \nMetallic\n
3    \nMetallic\n
4    \nMetallic\n
Name: paint_type, dtype: object

In [82]:
df["paint_type"] = df["paint_type"].str.replace('\\n', '')
df['paint_type'].value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [83]:
df['paint_type'] = df['paint_type'].replace(to_replace='NaN', value=np.nan)

In [84]:
df['paint_type'].isnull().sum()

5772

### --------------------------------26-body_color_original

In [85]:
df["body_color_original"] = df["body_color_original"].apply(lambda x: x[0] if type(x) == list else x)
df["body_color_original"].head()

0             \nMythosschwarz\n
1                           NaN
2    \nmythosschwarz metallic\n
3                           NaN
4    \nMythosschwarz Metallic\n
Name: body_color_original, dtype: object

In [86]:
df["body_color_original"] = df["body_color_original"].str.replace('\\n', '')
df['body_color_original'].value_counts()

Onyx Schwarz                     338
Bianco                           282
Mythosschwarz Metallic           238
Brillantschwarz                  216
Gris                             204
                                ...
Rouge-Braun (G0Y)                  1
VARI COLRI DISPONIBILI             1
Kokosnussbraun Metallic            1
Farbe frei wählbar                 1
Perlmutt-Weiß Metallic (Weiß)      1
Name: body_color_original, Length: 1927, dtype: int64

In [87]:
df['body_color_original'] = df['body_color_original'].replace(to_replace='NaN', value=np.nan)

In [88]:
df['body_color_original'].isnull().sum()

3759

### --------------------------------27-upholstery

In [89]:
df["upholstery"] = df["upholstery"].apply(lambda x: x[0] if type(x) == list else x)
df["upholstery"].head()

0    \nCloth, Black\n
1     \nCloth, Grey\n
2    \nCloth, Black\n
3                 NaN
4    \nCloth, Black\n
Name: upholstery, dtype: object

In [90]:
df["upholstery"] = df["upholstery"].str.replace('\\n', '')
df['upholstery'].value_counts()

Cloth, Black           5821
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Part leather, Grey      116
Full leather, Brown     116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Full leather, Beige      36
Velour, Black            36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Cloth, White              8
Velour, Grey              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Beige                     3
Part leather, Red         3
alcantara                 2
Part leather, White       2
Blue                      2
White                     2
Part leather, Beige       2
alcantara, Other          2
Full leather, Blue        2
Other, Brown              1
Cloth, Orange             1
Full leather, Red         1
Full leather, White       1
Name: upholstery, dtype: int64

In [91]:
df['upholstery'] = df['upholstery'].replace(to_replace='NaN', value=np.nan)

In [92]:
df['upholstery'].isnull().sum()

3720

### --------------------------------28 - body

In [93]:
df['body'].value_counts()

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64

In [94]:
df["body"] = df["body"].apply(lambda x: x[1] if type(x) == list else x)
df["body"].head()

0    Sedans
1    Sedans
2    Sedans
3    Sedans
4    Sedans
Name: body, dtype: object

In [95]:
df["body"] = df["body"].str.replace('\\n', '')
df['body'].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body, dtype: int64

In [96]:
df['body'].isnull().sum()

60

### - - - - - - - - - - - - - 29-nr_of_doors

In [97]:
df["nr_of_doors"] = df["nr_of_doors"].apply(lambda x: x[0] if type(x) == list else x)
df["nr_of_doors"].head()

0    \n5\n
1    \n3\n
2    \n4\n
3    \n3\n
4    \n5\n
Name: nr_of_doors, dtype: object

In [98]:
df["nr_of_doors"] = df["nr_of_doors"].str.replace('\\n', '')
df['nr_of_doors'].value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: nr_of_doors, dtype: int64

In [99]:
df['nr_of_doors'].isnull().sum()

212

### --------------------------------30 - nr_of_seats

In [100]:
df["nr_of_seats"] = df["nr_of_seats"].apply(lambda x: x[0] if type(x) == list else x)
df["nr_of_seats"].head()

0    \n5\n
1    \n4\n
2    \n4\n
3    \n4\n
4    \n5\n
Name: nr_of_seats, dtype: object

In [101]:
df["nr_of_seats"] = df["nr_of_seats"].str.replace('\\n', '')
df['nr_of_seats'].value_counts()

5    13336
4     1125
7      362
2      116
6        2
3        1
Name: nr_of_seats, dtype: int64

In [102]:
df['nr_of_seats'].isnull().sum()

977

### --------------------------------31 - model_code

In [103]:
df["model_code"] = df["model_code"].apply(lambda x: x[0] if type(x) == list else x)
df["model_code"].head()

0    \n0588/BDF\n
1    \n0588/BCY\n
2             NaN
3             NaN
4    \n0588/BDF\n
Name: model_code, dtype: object

In [104]:
df["model_code"] = df["model_code"].str.replace('\\n', '')
df['model_code'].value_counts()

0035/BCB    268
0588/BNO    245
0588/BDB    206
0588/BHX    188
1844/ADJ    175
           ...
0000/ACP      1
0035/BGY      1
0035/bgp      1
0035/BGS      1
3333/BKG      1
Name: model_code, Length: 232, dtype: int64

In [105]:
df['model_code'] = df['model_code'].replace(to_replace='NaN', value=np.nan)

In [106]:
df['model_code'].isnull().sum()

10941

### --------------------------------32 -gearing_type

In [107]:
df['gearing_type'].value_counts()

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [108]:
df["gearing_type"] = df["gearing_type"].apply(lambda x: x[1] if type(x) == list else x)
df["gearing_type"].head()

0    Automatic
1    Automatic
2    Automatic
3    Automatic
4    Automatic
Name: gearing_type, dtype: object

In [109]:
df["gearing_type"] = df["gearing_type"].str.replace('\\n', '')
df['gearing_type'].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

In [110]:
df['gearing_type'].isnull().sum()

0

### --------------------------------33 -displacement

In [111]:
df["displacement"] = df["displacement"].apply(lambda x: x[0] if type(x) == list else x)
df["displacement"].head()

0    \n1,422 cc\n
1    \n1,798 cc\n
2    \n1,598 cc\n
3    \n1,422 cc\n
4    \n1,422 cc\n
Name: displacement, dtype: object

In [112]:
df["displacement"] = df["displacement"].str.replace('\\n', '')
df['displacement'].value_counts()

1,598 cc    4761
999 cc      2438
1,398 cc    1314
1,399 cc     749
1,229 cc     677
            ...
122 cc         1
1,198 cc       1
1,195 cc       1
2,967 cc       1
1,800 cc       1
Name: displacement, Length: 77, dtype: int64

In [113]:
df["displacement"] = df["displacement"].str.replace(' cc', '')
df['displacement'].value_counts()

1,598    4761
999      2438
1,398    1314
1,399     749
1,229     677
         ...
122         1
1,198       1
1,195       1
2,967       1
1,800       1
Name: displacement, Length: 77, dtype: int64

In [114]:
df['displacement'].isnull().sum()

496

### --------------------------------34 -cylinders

In [115]:
df["cylinders"] = df["cylinders"].apply(lambda x: x[0] if type(x) == list else x)
df["cylinders"].head()

0    \n3\n
1    \n4\n
2      NaN
3    \n3\n
4    \n3\n
Name: cylinders, dtype: object

In [116]:
df["cylinders"] = df["cylinders"].str.replace('\\n', '')
df['cylinders'].value_counts()

4    8105
3    2104
5      22
6       3
8       2
2       2
1       1
Name: cylinders, dtype: int64

In [117]:
df['cylinders'] = df['cylinders'].replace(to_replace='NaN', value=np.nan)

In [118]:
df['cylinders'].isnull().sum()

5680

### --------------------------------35 -weight

In [119]:
df["weight"] = df["weight"].apply(lambda x: x[0] if type(x) == list else x)
df["weight"].head()

0    \n1,220 kg\n
1    \n1,255 kg\n
2             NaN
3    \n1,195 kg\n
4             NaN
Name: weight, dtype: object

In [120]:
df["weight"] = df["weight"].str.replace('\\n', '')
df['weight'].value_counts()

1,163 kg    574
1,360 kg    356
1,165 kg    301
1,335 kg    242
1,135 kg    213
           ...
1,331 kg      1
1,132 kg      1
1,252 kg      1
1,792 kg      1
2,037 kg      1
Name: weight, Length: 434, dtype: int64

In [121]:
df["weight"] = df["weight"].str.replace(' kg', '')
df['weight'].value_counts()

1,163    574
1,360    356
1,165    301
1,335    242
1,135    213
        ...
1,331      1
1,132      1
1,252      1
1,792      1
2,037      1
Name: weight, Length: 434, dtype: int64

In [122]:
df['weight'].isnull().sum()

6974

### --------------------------------36 -drive_chain

In [123]:
df["drive_chain"] = df["drive_chain"].apply(lambda x: x[0] if type(x) == list else x)
df["drive_chain"].head()

0    \nfront\n
1    \nfront\n
2    \nfront\n
3          NaN
4    \nfront\n
Name: drive_chain, dtype: object

In [124]:
df["drive_chain"] = df["drive_chain"].str.replace('\\n', '')
df['drive_chain'].value_counts()

front    8886
4WD       171
rear        4
Name: drive_chain, dtype: int64

In [125]:
df['drive_chain'] = df['drive_chain'].replace(to_replace='NaN', value=np.nan)

In [126]:
df['drive_chain'].isnull().sum()

6858

### --------------------------------37 -fuel

In [127]:
df["fuel"].value_counts()

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: fuel, Length: 77, dtype: int64

In [128]:
df["fuel"] = df["fuel"].apply(lambda x: x[1] if type(x) == list else x)
df["fuel"].head()

0    Diesel (Particulate Filter)
1                       Gasoline
2    Diesel (Particulate Filter)
3    Diesel (Particulate Filter)
4    Diesel (Particulate Filter)
Name: fuel, dtype: object

In [129]:
df["fuel"] = df["fuel"].str.replace('\\n', '')
df['fuel'].value_counts()

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: fuel, Length: 77, dtype: int64

In [130]:
df['fuel'].isnull().sum()

0

In [131]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Diesel (Particulate Filter)", "Super 95 (Particulate Filter)", "Super 95 / Regular/Benzine 91", "Regular/Benzine 91", "Super 95 / Super E10 95", "Regular/Benzine 91 (Particulate Filter)", "Super 95 / Super Plus 98", "Gasoline (Particulate Filter)", "Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98", "Super E10 95 / Super 95", "Others (Particulate Filter)", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype (x):
    if x in benzine or "Super 95" in x or "Super E10 95" in x or "Benzine" in x:
        return "Benzine"
    elif x in lpg or "Liquid petroleum gas (LPG)" in x or "CNG (Particulate Filter)" in x:
        return "LPG/CNG"
    elif "Electric" in x:
        return "Electric"
    else:
        return x
df["fuel"] = df.fuel.apply(fueltype)

In [132]:
df.fuel.value_counts()

Benzine     12866
Diesel       2984
LPG/CNG        64
Electric        5
Name: fuel, dtype: int64

In [133]:
df['fuel'].isnull().sum()

0

### --------------------------------38 -consumption

In [134]:
df["consumption"] = df["consumption"].apply(lambda x: x[0] if type(x) == list else x)
df["consumption"].head()

0    [3.8 l/100 km (comb)]
1    [5.6 l/100 km (comb)]
2    [3.8 l/100 km (comb)]
3    [3.8 l/100 km (comb)]
4    [4.1 l/100 km (comb)]
Name: consumption, dtype: object

In [135]:
df["consumption"] = df["consumption"].apply(lambda x: str(x).replace(' l/100 km (comb)', '') if type(x) == list else x)
df["consumption"] = df["consumption"].apply(lambda x: str(x).replace(' kg/100 km (comb)', '') if type(x) == list else x)
df["consumption"].head()

0    ['3.8']
1    ['5.6']
2    ['3.8']
3    ['3.8']
4    ['4.1']
Name: consumption, dtype: object

In [136]:
df["consumption"] = df["consumption"].str.replace('[', '')
df["consumption"] = df["consumption"].str.replace(']', '')
df["consumption"] = df["consumption"].str.replace("'", '')
df["consumption"] = df["consumption"].str.replace("(comb)", '')
df["consumption"] = df["consumption"].str.replace("\(\)", '')
df["consumption"] = df["consumption"].str.replace(" kg/100 km", '')
df['consumption'].value_counts()

\n      850
3.9     732
4       712
5.4     662
5.1     627
       ...
8.3       1
9.1       1
11        1
5.3       1
3.6       1
Name: consumption, Length: 81, dtype: int64

In [137]:
df['consumption'] = df['consumption'].replace(to_replace='\n', value=np.nan)
df['consumption'].value_counts()

3.9     732
4       712
5.4     662
5.1     627
4.4     595
       ...
8.3       1
9.1       1
11        1
5.3       1
3.6       1
Name: consumption, Length: 80, dtype: int64

In [138]:
df['consumption'].isnull().sum()

2756

### --------------------------------39 -co_2_emission

In [139]:
df["co_2_emission"] = df["co_2_emission"].apply(lambda x: x[0] if type(x) == list else x)
df["co_2_emission"].head()

0     \n99 g CO2/km (comb)\n
1    \n129 g CO2/km (comb)\n
2     \n99 g CO2/km (comb)\n
3     \n99 g CO2/km (comb)\n
4    \n109 g CO2/km (comb)\n
Name: co_2_emission, dtype: object

In [140]:
df["co_2_emission"] = df["co_2_emission"].str.replace('\\n', '')
df['co_2_emission'].value_counts()

120 g CO2/km (comb)       740
99 g CO2/km (comb)        545
97 g CO2/km (comb)        537
104 g CO2/km (comb)       501
102 g CO2/km (comb)       477
                         ...
80 g CO2/km (comb)          1
51 g CO2/km (comb)          1
165 g CO2/km (comb)         1
12,324 g CO2/km (comb)      1
193 g CO2/km (comb)         1
Name: co_2_emission, Length: 122, dtype: int64

In [141]:
df["co_2_emission"] = df["co_2_emission"].str.replace(' g CO2/km \(comb\)', '')
df['co_2_emission'].value_counts()

120       740
99        545
97        537
104       501
102       477
         ...
80          1
51          1
165         1
12,324      1
193         1
Name: co_2_emission, Length: 122, dtype: int64

In [142]:
df['co_2_emission'].isnull().sum()

2436

### --------------------------------40 -emission_class

In [143]:
df["emission_class"] = df["emission_class"].apply(lambda x: x[0] if type(x) == list else x)
df["emission_class"].head()

0    \nEuro 6\n
1    \nEuro 6\n
2    \nEuro 6\n
3    \nEuro 6\n
4    \nEuro 6\n
Name: emission_class, dtype: object

In [144]:
df["emission_class"] = df["emission_class"].str.replace('\\n', '')
df['emission_class'].value_counts()

Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

In [145]:
df['emission_class'].isnull().sum()

3628

### --------------------------------41 -comfort_&_convenience

In [146]:
df['comfort_&_convenience'][0]

['Air conditioning',
 'Armrest',
 'Automatic climate control',
 'Cruise control',
 'Electrical side mirrors',
 'Hill Holder',
 'Leather steering wheel',
 'Light sensor',
 'Multi-function steering wheel',
 'Navigation system',
 'Park Distance Control',
 'Parking assist system sensors rear',
 'Power windows',
 'Rain sensor',
 'Seat heating',
 'Start-stop system']

In [147]:
df['comfort_&_convenience']= [",".join(x) if type(x) == list else x for x in df['comfort_&_convenience']]
df["comfort_&_convenience"].value_counts()

Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                                                           92
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Start-stop system                                                                                                                                                                                                                                                                                     1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Sunroof,Tinted windows                                                                                                                                             1
Air conditioning,Armrest,Cruise control,Hill Holder,Leather steering wheel,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows                                                                                                                                                                                                                                                                                    1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Multi-function steering wheel,Power windows,Rain sensor,Start-stop system,Tinted windows                                                                                                                                                                                                                                                                                              1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort_&_convenience, Length: 6198, dtype: int64

In [148]:
df['comfort_&_convenience'].isnull().sum()

920

### --------------------------------42 -entertainment_&_media

In [149]:
df['entertainment_&_media'][0]

['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio']

In [150]:
df['entertainment_&_media']= [",".join(x) if type(x) == list else x for x in df['entertainment_&_media']]
df["entertainment_&_media"].value_counts()

Bluetooth,Hands-free equipment,On-board computer,Radio,USB                      1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                   982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB         783
On-board computer,Radio                                                          487
Radio                                                                            477
                                                                                ...
Bluetooth,CD player,MP3                                                            1
CD player,USB                                                                      1
Bluetooth,CD player,Digital radio,Radio,USB                                        1
Bluetooth,CD player,Digital radio,MP3,On-board computer,Radio,Television,USB       1
Hands-free equipment,On-board computer,Radio,Sound system                          1
Name: entertainment_&_media, Length: 346, dtype: int64

In [151]:
df['entertainment_&_media'].isnull().sum()

1374

### --------------------------------43 -extras

In [152]:
df['extras'][0]

['Alloy wheels', 'Catalytic Converter', 'Voice Control']

In [153]:
df['extras']= [",".join(x) if type(x) == list else x for x in df['extras']]
df["extras"].value_counts()

Alloy wheels                                                                                               3245
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
Alloy wheels,Roof rack                                                                                      385
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 659, dtype: int64

In [154]:
df['extras'].isnull().sum()

2962

### --------------------------------44 -safety_&_security

In [155]:
df['safety_&_security'][0]

['ABS',
 'Central door lock',
 'Daytime running lights',
 'Driver-side airbag',
 'Electronic stability control',
 'Fog lights',
 'Immobilizer',
 'Isofix',
 'Passenger-side airbag',
 'Power steering',
 'Side airbag',
 'Tire pressure monitoring system',
 'Traction control',
 'Xenon headlights']

In [156]:
df['safety_&_security']= [",".join(x) if type(x) == list else x for x in df['safety_&_security']]
df["safety_&_security"].value_counts()

ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                      228
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4443, dtype: int64

In [157]:
df['safety_&_security'].isnull().sum()

982

### --------------------------------45 - description

In [158]:
df['description'][0]

['\n',
 'Sicherheit:',
 ' ',
 'Deaktivierung für Beifahrer-Airbag',
 ' ',
 'ESC mit elektronischer Quersperre',
 ' ',
 'Tagfahrlicht',
 ' ',
 'Reifendruck-Kontrollanzeige',
 ' ',
 'Kopfairbag-System mit Seiten-Airbags vorn',
 ' ',
 'Sicherheitslenksäule',
 'Assistenzsysteme:',
 ' ',
 'Berganfahrassistent',
 'Komfort:',
 ' ',
 'Scheinwerferreinigung',
 ' ',
 'Xenon plus inklusive Scheinwerfer-Reinigungsanlage',
 ' ',
 'Scheinwerfer-Reinigungsanlage',
 ' ',
 'Einparkhilfe hinten',
 ' ',
 'Licht-/Regensensor',
 ' ',
 'Funkfernbedienung',
 ' ',
 'Elektrische Luftzusatzheizung',
 'Interieur:',
 ' ',
 'Rücksitzanlage 2 + 1',
 ' ',
 'Multifunktions-Sportlederlenkrad im 3-Speichen-Design',
 ' ',
 'automatische Leuchtweitenregulierung',
 ' ',
 'Fahrerinformationssystem',
 ' ',
 'Staub- und Pollenfilter',
 ' ',
 'Kopfstützen hinten (3 Stück)',
 ' ',
 'Stoff Zeitgeist',
 ' ',
 'Fahrersitz manuell höheneinstellbar',
 ' ',
 'Scheiben seitlich und hinten in Wärmeschutzverglasung',
 ' ',
 'Kindersitzbefestigung ISOFIX und Top Tether für die äußeren Fondsitze',
 ' ',
 'Dachhimmel in Stoff titangrau',
 ' ',
 'Waschwasser-Standanzeige',
 ' ',
 'Nichtraucherfahrzeug',
 'Exterieur:',
 ' ',
 'Elektrische Aussenspiegel',
 ' ',
 'Außenspiegel elektrisch beheizbar inklusive beheizbarer Scheibenwaschdüsen',
 ' ',
 'Scheibenwaschdüsen beheizbar vorn',
 ' ',
 'Aluminium-Gussräder im 10-Speichen-Design Größe 7 J x 16 mit Reifen 215/45 R 16',
 ' ',
 'LED-Heckleuchten',
 ' ',
 'Dynamikfahrwerk',
 ' ',
 'Reifenreparaturset',
 ' ',
 'Heckscheibenwischer mit Wasch-Wisch-Automatik',
 'Umwelt:',
 ' ',
 'Start-Stop-System',
 ' ',
 'Abgaskonzept EU6 plus',
 'Multimedia:',
 ' ',
 'Radio mit Dreifachtuner und Phasendiversity',
 ' ',
 'Bluetooth-Schnittstelle',
 ' ',
 'media-Paket',
 ' ',
 'Sprachdialogsystem',
 ' ',
 'MMI® Navigation plus',
 'Getriebe:',
 ' ',
 '7-Gang-Automatikgetriebe',
 'Sonstiges:',
 ' ',
 'Scheckheft gepflegt',
 ' ',
 'Frontscheibe mit grauem Colorstreifen am oberen Rand',
 ' ',
 'Verbau der Startbatterie hinten ohne zweite Batterie',
 ' ',
 'GebrauchtwagenPlus',
 ' ',
 'Eingabefehler Irrtümer und Zwischenverkauf vorbehalten. Die gemachten Angaben in Anzeigen Internet Preisschildern und Bildern sind unverbindliche Beschreibungen und dienen nicht als zugesicherte Eigenschaften. Der Verkäufer übernimmt keine Haftung für Tipp- und Datenübermittlungsfehlern. Aufgeführte Ausstattungen sind ggfs. gesondert zu prüfen. Alle Angaben in den Inseraten sind unverbindlich und ohne Gewähr. Wir freuen uns auf Ihren Besuch.',
 '\n']

In [159]:
df['description']= [",".join(x) if type(x) == list else x for x in df['description']]
df["description"].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               636
\n,\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
\n,Fahrzeugbeschreibung, Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem ,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, ,Highlights, ,Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom, ,Sportsitze , ,Sportfahrwerk, ,Scheinwerfer Full-LED ,Komfort, ,Geschwindigkeits-Regelanlage (Tempomat) , ,Klimaanlage, ,Einparkhilfe hinten, ,Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten , ,Fensterheber elektr. mit Impulsgeber links/rechts vorn, ,Zentralverriegelung / Startanlage Handsfree Entry & Drive , ,Berganfahr-Assistent (HSA) ,Multimedia, ,Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner), ,Bordcomputer, ,Freisprecheinrichtung Bluetooth , ,USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) ,Licht und Sicht, ,Außenspiegel elektr. verstell- und heizbar , ,Licht- und Regensensor , ,Tagfahrlicht LED , ,Nebelscheinwerfer LED , ,Coming-Home-Lichtfunktion , ,Heckleuchten LED ,Sicherheit, ,Isofix-Aufnahmen für Kindersitz , ,Seitenairbag vorn, ,Wegfahrsperre, ,Differentialsperre, ,Bremsassistent , ,Elektron. Stabilitäts-Programm (ESP), ,Anti-Blockier-System (ABS), ,Anti-Submarining-Airbag im Fond, ,Airbag Fahrer-/Beifahrerseite , ,Differentialsperre , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,Antischlupfregelung (ASR) ,Weiteres, ,Start/Stop-Anlage , ,Servolenkung geschwindigkeitsabhängig, ,R.S. Drive (Fahrmodusschalter) , ,Gepäckraumabdeckung / Rollo , ,Heckdiffusor , ,LM-Felgen , ,Heckspoiler (Renault Sport) , ,Pedale Aluminium , ,Energierückgewinnung (Energy Smart Management) , ,Elektr. Bremskraftverteilung , ,Reifen-Reparaturkit , ,Sitzbezug / Polsterung: Stoff , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-6-tce-energy-renault-sport-trophy/id/f7ca29bf-e005-453f-bbc9-8c6fe892dec6/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                                                                                                                           27
\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 27
\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei , ,Highlights, ,Audio-Navigationssystem mit Touchscreen-Farbdisplay,Komfort, ,Klimaanlage , ,Multifunktionslenkrad in Leder , ,Berganfahr-Assistent (HSA), ,Fensterheber elektrisch vorn , ,Geschwindigkeits-Regelanlage (Tempomat) , ,Heckscheibe heizbar , ,Sitz vorn links höhenverstellbar, ,Sitz vorn rechts umklappbar , ,Stau-/Ablagefach im Laderaumboden , ,Zentralverriegelung mit Fernbedienung ,Multimedia, ,Radio R&GO, ,Bluetooth Freisprechanlage , ,USB-/AUX-Schnittstelle , ,Bordcomputer, ,Licht und Sicht, ,Tagfahrlicht LED , ,Außenspiegel elektrisch verstell- und heizbar,Sicherheit, ,Airbag für Fahrer und Beifahrer, ,Beifahrerairbag deaktivierbar , ,Seitenairbags vorn , ,Kopfairbagsystem, ,Anti-Blockier-System (ABS), ,Elektronische Bremskraftverteilung , ,Elektronische Stabilitäts-Programm (ESP) , ,Reifen-Reparaturkit , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,ISOFIX Kindersitzverankerung ,Weiteres, ,Dachreling silber , ,Look-Paket Chrom (außen) , ,Look-Paket Grau (innen) , ,R&GO-Paket , ,Style-Paket , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
\nPratica 67374,Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1

In [160]:
df["description"] = df["description"].str.replace('\\n,', '')
df["description"] = df["description"].str.replace('\\n', '')
df['description'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          667
Fahrzeugbeschreibung, Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem ,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, ,Highlights, ,Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom, ,Sportsitze , ,Sportfahrwerk, ,Scheinwerfer Full-LED ,Komfort, ,Geschwindigkeits-Regelanlage (Tempomat) , ,Klimaanlage, ,Einparkhilfe hinten, ,Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten , ,Fensterheber elektr. mit Impulsgeber links/rechts vorn, ,Zentralverriegelung / Startanlage Handsfree Entry & Drive , ,Berganfahr-Assistent (HSA) ,Multimedia, ,Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner), ,Bordcomputer, ,Freisprecheinrichtung Bluetooth , ,USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) ,Licht und Sicht, ,Außenspiegel elektr. verstell- und heizbar , ,Licht- und Regensensor , ,Tagfahrlicht LED , ,Nebelscheinwerfer LED , ,Coming-Home-Lichtfunktion , ,Heckleuchten LED ,Sicherheit, ,Isofix-Aufnahmen für Kindersitz , ,Seitenairbag vorn, ,Wegfahrsperre, ,Differentialsperre, ,Bremsassistent , ,Elektron. Stabilitäts-Programm (ESP), ,Anti-Blockier-System (ABS), ,Anti-Submarining-Airbag im Fond, ,Airbag Fahrer-/Beifahrerseite , ,Differentialsperre , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,Antischlupfregelung (ASR) ,Weiteres, ,Start/Stop-Anlage , ,Servolenkung geschwindigkeitsabhängig, ,R.S. Drive (Fahrmodusschalter) , ,Gepäckraumabdeckung / Rollo , ,Heckdiffusor , ,LM-Felgen , ,Heckspoiler (Renault Sport) , ,Pedale Aluminium , ,Energierückgewinnung (Energy Smart Management) , ,Elektr. Bremskraftverteilung , ,Reifen-Reparaturkit , ,Sitzbezug / Polsterung: Stoff , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-6-tce-energy-renault-sport-trophy/id/f7ca29bf-e005-453f-bbc9-8c6fe892dec6/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.                                                                                                                                                                                                                                                                                                                                                                                                                                           27
Sichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei , ,Highlights, ,Audio-Navigationssystem mit Touchscreen-Farbdisplay,Komfort, ,Klimaanlage , ,Multifunktionslenkrad in Leder , ,Berganfahr-Assistent (HSA), ,Fensterheber elektrisch vorn , ,Geschwindigkeits-Regelanlage (Tempomat) , ,Heckscheibe heizbar , ,Sitz vorn links höhenverstellbar, ,Sitz vorn rechts umklappbar , ,Stau-/Ablagefach im Laderaumboden , ,Zentralverriegelung mit Fernbedienung ,Multimedia, ,Radio R&GO, ,Bluetooth Freisprechanlage , ,USB-/AUX-Schnittstelle , ,Bordcomputer, ,Licht und Sicht, ,Tagfahrlicht LED , ,Außenspiegel elektrisch verstell- und heizbar,Sicherheit, ,Airbag für Fahrer und Beifahrer, ,Beifahrerairbag deaktivierbar , ,Seitenairbags vorn , ,Kopfairbagsystem, ,Anti-Blockier-System (ABS), ,Elektronische Bremskraftverteilung , ,Elektronische Stabilitäts-Programm (ESP) , ,Reifen-Reparaturkit , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,ISOFIX Kindersitzverankerung ,Weiteres, ,Dachreling silber , ,Look-Paket Chrom (außen) , ,Look-Paket Grau (innen) , ,R&GO-Paket , ,Style-Paket , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       27
Sichern Sie sich diesen Opel Astra K 1.4 SIDI Turbo Innovation Start/Stop zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 2.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, mindestens 12 Monate gültige HU und AU, ,Highlights, ,Rückfahrkamera, ,Voll-LED-Matrix-Scheinwerfer (IntelliLux), ,Audio-Navigationssystem Navi 900 Europa Touch, ,Spurassistent, ,Leichtmetallfelgen ,Komfort, ,Sitzheizung vorn, ,Klimaautomatik 2-Zonen, ,Parkpilotsystem vorn und hinten, ,6-Stufen Automatikgetriebe, ,Tempomat (Geschwindigkeits-Regelanlage) mit Begrenzer , ,Berganfahrassistent , ,Servolenkung, ,Lendenwirbelstütze elektropneumatisch für Fahrer , ,Kopfstützen vorn und hinten , ,Multifunktionslenkrad in Leder, beheizbar , ,Mittelarmlehne vorn verschiebbar, ,Zentralverriegelung mit Fernbedienung, ,Fensterheber elektrisch vorn + hinten, ,Berganfahr-Assistent (HSA, Hill Start Assist),Multimedia, ,8 Zoll Touchscreen-Farbdisplay, ,Verkehrszeichenerkennung, ,Audiostreaming , ,Apple CarPlay und Android Auto, ,6 Lautsprecher , ,Bluetooth-Freisprecheinrichtung , ,Sprachsteuerung, ,Bordcomputer, ,Multimedia-Schnittstelle (USB / AUX-IN),Licht und Sicht, ,Außenspiegel elektrisch verstell-, heiz- und anklappbar, ,Abbiegelicht, ,LED Tagfahrlicht, ,Nebelscheinwerfer, ,Ambientebeleuchtung, ,Innenrückspiegel automatisch abblendend, ,Fernlichtassistent und Leuchtweitenregulierung , ,Licht und Regensensor , ,Wärmeschutzverglasung hinten abgedunkelt (Solar-Protect), ,LED Heckleuchten ,Sicherheit, ,Abstandswarner, ,Auffahrwarnsystem, ,Isofix-Aufnahmen für Kindersitz an Rücksitz, ,Frontkamera, ,Airbag für Fahrer- und Beifahrerseite, ,Wegfahrsperre, ,Seitenairbag vorn, ,Kopf-Airbag-System, ,Bremsassistent (HBA), ,Elektronisches Stabilitätsprogramm Plus (ESP Plus), ,Reifendruck-Kontrollsystem, ,Anti-Blockier-System (ABS), ,Reifen-Reparaturkit, ,Parkbremse elektrisch, ,Elektronische Traktionskontrolle,Weiteres, ,Start/Stop-Anlage, ,Metallic-/Mineraleffekt-Lackierung, ,Ecoflex, ,Licht-Paket, ,Sicht-Paket, ,ecoFLEX-Paket, ,Winter-Paket, ,Fußmatten Velours, ,Laderaumabdeckung, ,Innovations-Paket, ,OnStar SOS Service, ,Check-Control-System, Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/opel-astra-k-1-4-sidi-turbo-innovation-start-stop/id/99fb856b-41be-40f0-9b36-0d70989440c6/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.     27
Sichern Sie sich diesen RENAULT CLIO 1.2 TCE ENERGY INTENS zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 1.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei, ,Highlights, ,Navigationssystem mit Touchscreen-Farbdisplay (Media Nav Evolution), ,Scheinwerfer Full-LED, ,Einparkhilfe hinten , ,16? Pulse Leichtmetallfelgen , ,Sitzheizung vorn,Komfort, ,Startanlage Handsfree Entry & Drive, ,Sitz vorn links höhenverstellbar, ,Multifunktionslenkrad in Leder , ,Eco Mode (Fahrmodusschalter), ,Berganfahr-Assistent (HSA), ,Fensterheber elektrisch hinten und vorne mit Impulsgeber links vorn, ,Geschwindigkeits-Regelanlage (Tempomat) , ,Klimaanlage, ,Rücksitzlehne geteilt/klappbar, ,Start/Stop-Anlage , ,Komfort-Paket Plus, ,Mittelarmlehne vorn mit Ablagefach ,Multimedia, , ,Radioempfang digital (DAB), ,4 Lautsprecher , ,Bluetooth Freisprecheinrichtung , ,USB-/AUX-Schnittstelle , ,Bordcomputer,Licht und Sicht, ,Nebelscheinwerfer LED, ,Außenspiegel elektr. verstell-, heizbar-, und anklappbar, ,Heckscheibe heizbar , ,Licht- und Regensensor , ,Coming-Home-Lichtfunktion, ,Heckleuchten LED, ,Tagfahrlicht LED ,Sicherheit, ,Airbag für Fahrer und Beifahrer, ,Beifahrerairbag deaktivierbar , ,Seitenairbags vorn , ,Kopfairbagsystem, ,Anti-Blockier-System (ABS), ,Bremsassistent, ,Elektronische Bremskraftverteilung , ,Elektronische Stabilitäts-Programm (ESP), ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC), ,Reserverad in Fahrbereifung, ,ISOFIX Kindersitzverankerung ,Weiteres, ,Sonderlackierung Metallic Dezir Rot, ,Look-Paket Chrom (außen) , ,Look-Paket Klavierlack schwarz (innen), ,Energierückgewinnung (Energy Smart Management), Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
Pratica 67374,Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1

In [161]:
df['description'].isnull().sum()

0

### --------------------------------46-emission_label

In [162]:
df["emission_label"] = df["emission_label"].apply(lambda x: x[0] if type(x) == list else x)
df["emission_label"].value_counts()

\n4 (Green)\n         3553
\n1 (No sticker)\n     381
[]                      40
\n5 (Blue)\n             8
\n3 (Yellow)\n           2
\n2 (Red)\n              1
Name: emission_label, dtype: int64

In [163]:
df["emission_label"] = df["emission_label"].str.replace('\\n', '')
df['emission_label'].value_counts()

4 (Green)         3553
1 (No sticker)     381
5 (Blue)             8
3 (Yellow)           2
2 (Red)              1
Name: emission_label, dtype: int64

In [164]:
df["emission_label"] = df["emission_label"].str.replace('(', '')
df['emission_label'].value_counts()

4 Green)         3553
1 No sticker)     381
5 Blue)             8
3 Yellow)           2
2 Red)              1
Name: emission_label, dtype: int64

In [165]:
df["emission_label"] = df["emission_label"].str.replace(')', '')
df['emission_label'].value_counts()

4 Green         3553
1 No sticker     381
5 Blue             8
3 Yellow           2
2 Red              1
Name: emission_label, dtype: int64

In [166]:
df["emission_label"].astype(str)

0            nan
1        4 Green
2        4 Green
3            nan
4            nan
          ...
15914        nan
15915        nan
15916        nan
15917        nan
15918    4 Green
Name: emission_label, Length: 15919, dtype: object

In [167]:
df["emission_label"] = df["emission_label"].str.replace(' Red', '')
df["emission_label"] = df["emission_label"].str.replace(' Yellow','')
df["emission_label"] = df["emission_label"].str.replace(' Green','')
df["emission_label"] = df["emission_label"].str.replace(' Blue','')
df["emission_label"] = df["emission_label"].str.replace(' No sticker','')
df['emission_label'].value_counts()

4    3553
1     381
5       8
3       2
2       1
Name: emission_label, dtype: int64

In [168]:
df['emission_label'].isnull().sum()

11974

### --------------------------------47 - gears

In [169]:
df["gears"] = df["gears"].apply(lambda x: x[0] if type(x) == list else x)
df["gears"].head()

0      NaN
1    \n7\n
2      NaN
3    \n6\n
4      NaN
Name: gears, dtype: object

In [170]:
df["gears"] = df["gears"].str.replace('\\n', '')
df['gears'].value_counts()

6     5822
5     3239
7     1908
8      224
9        6
1        2
3        2
4        2
2        1
50       1
Name: gears, dtype: int64

In [171]:
df["gears"] = df["gears"].str.replace('50', '5')
df['gears'].value_counts()

6    5822
5    3240
7    1908
8     224
9       6
1       2
3       2
4       2
2       1
Name: gears, dtype: int64

In [172]:
df['gears'].isnull().sum()

4712

### --------------------------------48 - country_version

In [173]:
df["country_version"] = df["country_version"].apply(lambda x: x[0] if type(x) == list else x)
df["country_version"].head()

0            NaN
1            NaN
2            NaN
3            NaN
4    \nGermany\n
Name: country_version, dtype: object

In [174]:
df["country_version"] = df["country_version"].str.replace('\\n', '')
df['country_version'].value_counts()

Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [175]:
df['country_version'] = df['country_version'].replace(to_replace='NaN', value=np.nan)

### --------------------------------49 - electricity_consumption

In [176]:
df['electricity_consumption'].value_counts()

[\n0 kWh/100 km (comb)\n]    137
Name: electricity_consumption, dtype: int64

In [177]:
df["electricity_consumption"] = df["electricity_consumption"].apply(lambda x: x[0] if type(x) == list else x)
df["electricity_consumption"].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: electricity_consumption, dtype: object

In [178]:
df["electricity_consumption"] = df["electricity_consumption"].str.replace('\\n', '')
df['electricity_consumption'].value_counts()

0 kWh/100 km (comb)    137
Name: electricity_consumption, dtype: int64

In [179]:
df['electricity_consumption'] = df['electricity_consumption'].replace(to_replace='NaN', value=np.nan)

In [180]:
df['electricity_consumption'].isnull().sum()

15782

### --------------------------------50 - last_service_date

In [181]:
df['last_service_date'].value_counts()

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n06/2019\n, \nEuro 6\n]                 13
                                          ..
[\n01/2017\n, \n95 g CO2/km (comb)\n]      1
[\n06/2019\n, \n87 g CO2/km (comb)\n]      1
[\n10/2018\n, \n100 g CO2/km (comb)\n]     1
[\n02/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2019\n, \n120 g CO2/km (comb)\n]     1
Name: last_service_date, Length: 266, dtype: int64

In [182]:
df["last_service_date"] = df["last_service_date"].apply(lambda x: x[0] if type(x) == list else x)
df["last_service_date"].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: last_service_date, dtype: object

In [183]:
df["last_service_date"] = df["last_service_date"].str.replace('\\n', '')
df['last_service_date'].value_counts()

05/2019    61
02/2019    55
01/2019    51
06/2019    49
04/2019    48
03/2019    47
12/2018    32
10/2018    24
06/2018    21
05/2018    21
07/2018    21
01/2018    20
09/2018    17
11/2018    17
04/2018    16
08/2018    13
03/2018     9
06/2017     7
02/2018     5
05/2017     3
12/2017     3
02/2017     3
10/2017     3
01/2017     3
11/2017     2
06/2016     2
04/2016     2
07/2017     2
11/2019     1
10/2019     1
07/2019     1
03/2016     1
09/2019     1
08/2019     1
09/2017     1
05/2016     1
04/2017     1
Name: last_service_date, dtype: int64

In [184]:
df['last_service_date'] = df['last_service_date'].replace(to_replace='NaN', value=np.nan)

In [185]:
df['last_service_date'].isnull().sum()

15353

### --------------------------------51 - other_fuel_types

In [186]:
df['other_fuel_types'].value_counts()

[[], [], []]    880
Name: other_fuel_types, dtype: int64

In [187]:
df["other_fuel_types"] = df["other_fuel_types"].apply(lambda x: x[0] if type(x) == list else x)
df["other_fuel_types"].value_counts()

[]    880
Name: other_fuel_types, dtype: int64

In [188]:
df["other_fuel_types"] = df["other_fuel_types"].apply(lambda x: '0' if type(x) == list else '0')
df["other_fuel_types"].value_counts()

0    15919
Name: other_fuel_types, dtype: int64

In [189]:
df['other_fuel_types'] = df['other_fuel_types'].replace(to_replace='0', value=np.nan)

In [190]:
df["other_fuel_types"].value_counts()

Series([], Name: other_fuel_types, dtype: int64)

In [191]:
df['other_fuel_types'].isnull().sum()

15919

### --------------------------------52 - availability

In [192]:
df["availability"] = df["availability"].str.replace('\\n', '')
df['availability'].value_counts()

in 90 days from ordering     196
in 120 days from ordering    182
in 1 day from ordering        51
in 5 days from ordering       35
in 3 days from ordering       35
in 180 days from ordering     24
in 14 days from ordering      24
in 7 days from ordering       20
in 150 days from ordering     18
in 2 days from ordering       16
in 60 days from ordering      13
in 42 days from ordering      10
in 21 days from ordering       8
in 4 days from ordering        2
in 6 days from ordering        1
Name: availability, dtype: int64

In [193]:
df["availability"] = df["availability"].str.replace('in ', '')
df['availability'].value_counts()

90 days from ordering     196
120 days from ordering    182
1 day from ordering        51
5 days from ordering       35
3 days from ordering       35
180 days from ordering     24
14 days from ordering      24
7 days from ordering       20
150 days from ordering     18
2 days from ordering       16
60 days from ordering      13
42 days from ordering      10
21 days from ordering       8
4 days from ordering        2
6 days from ordering        1
Name: availability, dtype: int64

In [194]:
df["availability"] = df["availability"].str.replace('\\n', '')
df['availability'].value_counts()

90 days from ordering     196
120 days from ordering    182
1 day from ordering        51
5 days from ordering       35
3 days from ordering       35
180 days from ordering     24
14 days from ordering      24
7 days from ordering       20
150 days from ordering     18
2 days from ordering       16
60 days from ordering      13
42 days from ordering      10
21 days from ordering       8
4 days from ordering        2
6 days from ordering        1
Name: availability, dtype: int64

In [195]:
df["availability"] = df["availability"].str.replace(' days from ordering', '')
df['availability'].value_counts()

90                     196
120                    182
1 day from ordering     51
5                       35
3                       35
180                     24
14                      24
7                       20
150                     18
2                       16
60                      13
42                      10
21                       8
4                        2
6                        1
Name: availability, dtype: int64

In [196]:
df["availability"] = df["availability"].str.replace(' day from ordering', '')
df['availability'].value_counts()

90     196
120    182
1       51
5       35
3       35
180     24
14      24
7       20
150     18
2       16
60      13
42      10
21       8
4        2
6        1
Name: availability, dtype: int64

In [197]:
df['availability'].isnull().sum()

15284

### --------------------------------53-last_timing_belt_service_date

In [198]:
df['last_timing_belt_service_date'].value_counts()

[\n04/2016\n]                2
[\n12/1900\n]                1
[\n07/2018\n]                1
[\n01/1900\n]                1
[\n05/2019\n]                1
[\n09/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n06/2017\n]                1
[\n01/2019\n]                1
[\n02/2019\n]                1
[\n02/2018\n]                1
[\n06/2019\n]                1
[\n01/2018\n]                1
[\n04/2019\n]                1
[\n01/1970\n]                1
Name: last_timing_belt_service_date, dtype: int64

In [199]:
df["last_timing_belt_service_date"] = df["last_timing_belt_service_date"].apply(lambda x: x[0] if type(x) == list else x)
df["last_timing_belt_service_date"].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: last_timing_belt_service_date, dtype: object

In [200]:
df["last_timing_belt_service_date"] = df["last_timing_belt_service_date"].str.replace('\\n', '')
df['last_timing_belt_service_date'].value_counts()

04/2016    2
12/1900    1
07/2018    1
01/1900    1
05/2019    1
09/2018    1
05/2018    1
06/2017    1
01/2019    1
02/2019    1
02/2018    1
06/2019    1
01/2018    1
04/2019    1
01/1970    1
Name: last_timing_belt_service_date, dtype: int64

In [201]:
df['last_timing_belt_service_date'].isnull().sum()

15903

### --------------------------------54-available_from

In [202]:
df['available_from'].value_counts()

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n26/06/19\n     5
\n27/06/19\n     5
\n10/11/19\n     5
\n08/07/19\n     4
\n25/10/19\n     3
\n15/07/19\n     3
\n01/08/19\n     3
\n04/07/19\n     2
\n05/08/19\n     2
\n24/08/19\n     2
\n16/07/19\n     2
\n20/07/19\n     2
\n05/07/19\n     2
\n30/06/19\n     2
\n30/09/19\n     1
\n31/10/19\n     1
\n27/07/19\n     1
\n02/07/19\n     1
\n10/07/19\n     1
\n19/07/19\n     1
\n24/07/19\n     1
\n29/07/19\n     1
\n29/09/19\n     1
\n18/08/19\n     1
\n14/09/19\n     1
\n18/07/19\n     1
\n16/08/19\n     1
\n24/09/19\n     1
\n17/08/19\n     1
\n10/10/19\n     1
\n06/12/19\n     1
\n03/12/19\n     1
\n05/12/19\n     1
\n11/08/19\n     1
\n10/12/19\n     1
\n01/09/19\n     1
\n03/08/19\n     1
Name: available_from, dtype: int64

In [203]:
df["available_from"] = df["available_from"].str.replace('\\n', '')
df['available_from'].value_counts()

31/08/19    98
30/07/19    25
15/08/19    24
16/09/19    14
29/06/19    12
01/07/19    11
28/06/19    10
19/08/19     7
10/09/19     6
26/06/19     5
27/06/19     5
10/11/19     5
08/07/19     4
25/10/19     3
15/07/19     3
01/08/19     3
04/07/19     2
05/08/19     2
24/08/19     2
16/07/19     2
20/07/19     2
05/07/19     2
30/06/19     2
30/09/19     1
31/10/19     1
27/07/19     1
02/07/19     1
10/07/19     1
19/07/19     1
24/07/19     1
29/07/19     1
29/09/19     1
18/08/19     1
14/09/19     1
18/07/19     1
16/08/19     1
24/09/19     1
17/08/19     1
10/10/19     1
06/12/19     1
03/12/19     1
05/12/19     1
11/08/19     1
10/12/19     1
01/09/19     1
03/08/19     1
Name: available_from, dtype: int64

In [204]:
df['available_from'].isnull().sum()

15647

In [205]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,type,previous_owners,next_inspection,inspection_new,warranty,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013",01/2016,2,None,66,Used,2,06/2021,Yes,,,,NaN,Audi,A1,LR-062483,2016,Black,Metallic,Mythosschwarz,"Cloth, Black",Sedans,5,5,0588/BDF,Automatic,"1,422",3,"1,220",front,Benzine,3.8,99,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...","Sicherheit:, ,Deaktivierung für Beifahrer-Airb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000",03/2017,None,None,141,Used,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Audi,A1,NaN,2017,Red,NaN,NaN,"Cloth, Grey",Sedans,3,4,0588/BCY,Automatic,"1,798",4,"1,255",front,Benzine,5.6,129,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",Langstreckenfahrzeug daher die hohe Kilometerl...,4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450",02/2016,1,None,85,Used,1,NaN,NaN,,NaN,NaN,NaN,Audi,A1,AM-95365,2016,Black,Metallic,mythosschwarz metallic,"Cloth, Black",Sedans,4,4,NaN,Automatic,"1,598",NaN,NaN,front,Benzine,3.8,99,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...","Fahrzeug-Nummer: AM-95365, ,Ehem. UPE 24.640 E...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000",08/2016,1,None,66,Used,1,NaN,NaN,NaN,,6,NaN,Audi,A1,NaN,2016,Brown,Metallic,NaN,NaN,Sedans,3,4,NaN,Automatic,"1,422",3,"1,195",NaN,Benzine,3.8,99,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...","Audi A1: ,- 1e eigenaar ,- Perfecte staat: sch...",NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200",05/2016,1,None,66,Used,1,NaN,Yes,,,,NaN,Audi,A1,C1626,2016,Black,Metallic,Mythosschwarz Metallic,"Cloth, Black",Sedans,5,5,0588/BDF,Automatic,"1,422",3,NaN,front,Benzine,4.1,109,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...","Technik & Sicherheit:,Xenon plus,Klimaautomati...",NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
df.isin(['']).sum()

url                                 0
make_model                          0
short_description                   0
body_type                           0
price                               0
vat                                 0
km                                  0
registration                        0
prev_owner                          0
kW                                  0
hp                                  0
type                                0
previous_owners                     0
next_inspection                     0
inspection_new                      0
warranty                         5646
full_service                     8215
non_smoking_vehicle              3717
null                                0
make                                0
model                               0
offer_number                        0
first_registration                  0
body_color                          0
paint_type                          0
body_color_original                 0
upholstery                          0
body                                0
nr_of_doors                         0
nr_of_seats                         0
model_code                          0
gearing_type                        0
displacement                        0
cylinders                           0
weight                              0
drive_chain                         0
fuel                                0
consumption                       127
co_2_emission                       0
emission_class                      0
comfort_&_convenience               0
entertainment_&_media               0
extras                              0
safety_&_security                   0
description                       667
emission_label                      0
gears                               0
country_version                     0
electricity_consumption             0
last_service_date                   0
other_fuel_types                    0
availability                        0
last_timing_belt_service_date       0
available_from                      0
dtype: int64

In [207]:
df[df.isin([''])] = np.NaN

In [208]:
df.isin(['']).sum()

url                              0
make_model                       0
short_description                0
body_type                        0
price                            0
vat                              0
km                               0
registration                     0
prev_owner                       0
kW                               0
hp                               0
type                             0
previous_owners                  0
next_inspection                  0
inspection_new                   0
warranty                         0
full_service                     0
non_smoking_vehicle              0
null                             0
make                             0
model                            0
offer_number                     0
first_registration               0
body_color                       0
paint_type                       0
body_color_original              0
upholstery                       0
body                             0
nr_of_doors                      0
nr_of_seats                      0
model_code                       0
gearing_type                     0
displacement                     0
cylinders                        0
weight                           0
drive_chain                      0
fuel                             0
consumption                      0
co_2_emission                    0
emission_class                   0
comfort_&_convenience            0
entertainment_&_media            0
extras                           0
safety_&_security                0
description                      0
emission_label                   0
gears                            0
country_version                  0
electricity_consumption          0
last_service_date                0
other_fuel_types                 0
availability                     0
last_timing_belt_service_date    0
available_from                   0
dtype: int64

## ----------------------------------------------------------------

## EXPORTING csv for PART 2: Types and Duplicates

In [209]:
df.to_csv('scoutPART1-CleaningisDone.csv', index=False)

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [210]:
#df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [211]:
#df_dummied.to_csv("final_scout_dummy.csv", index=False)